In [1]:
import pandas as pd
import numpy as np
import glob
import matplotlib as mat
import matplotlib.pyplot as plt
import seaborn as sns
import xlrd
import platform
import json
import googlemaps
import folium
from matplotlib import font_manager , rc

In [2]:
gmaps_key = 'AIzaSyB0O7eWmOnY9dXjK0GUzCpMia8sQzDqhzo'
gmaps = googlemaps.Client(key=gmaps_key)

In [4]:
sports = pd.read_csv('서울시 종합체육시설업 인허가 정보.csv', encoding = 'euc-kr')
sports = sports[['인허가일자','폐업일자','도로명주소','사업장명', '좌표정보(X)', '좌표정보(Y)']]
sports = sports.rename(columns={'좌표정보(X)':'lat','좌표정보(Y)':'lon'})
sports

,인허가일자,폐업일자,도로명주소,사업장명,lat,lon
0,2017-03-31,NaN,서울특별시 송파구 올림픽로 300 (신천동),시그니엘서울 피트니스클럽,NaN,NaN
1,20070705,20080317.0,NaN,(주)나비스포렉스,196467.975088,452566.134030
2,20220421,NaN,"서울특별시 강남구 개포로22길 87, 포이초등학교 (개포동)",포이스포츠센터,204558.513478,441491.962569
3,20141125,NaN,서울특별시 동대문구 천호대로47길 34 (답십리동),(주)코리아비젼스윔(지점),203831.531062,452388.114512
4,20210826,NaN,"서울특별시 강북구 삼양로 689, 파라스파라 서울 (우이동)",(주)정상북한산리조트 파라스파라 서울,200704.539774,462416.392839
...,...,...,...,...,...,...
197,20141222,NaN,"서울특별시 강남구 테헤란로 606, 22,23층 (대치동, 파크하얏트서울)",파크클럽(Park Club)(51),205601.904042,445151.509505
198,20040610,NaN,"서울특별시 은평구 서오릉로 145 (구산동,상원빌딩 지층)",(주)상원스포월드,192563.874496,456570.084566
199,20060706,NaN,"서울특별시 종로구 진흥로 446 (구기동, 외 4필지)",로제우스,196196.102281,456120.471852
200,20070709,NaN,"서울특별시 영등포구 여의대로 8 (여의도동,메리어트호텔 지하 1,2층)",메리엇 수 피트니스 앤 스파,192739.314354,446552.469846
201,2018-05-17,NaN,"서울특별시 강동구 성내로15길 33, 서울성일초등학교 (성내동)",(주) 다빈홀딩스 성일스포렉스,211275.576090,447440.867842

In [5]:
#sports.dropna(subset=['폐업일자'], inplace=True)
sports['폐업일자'] = pd.to_datetime(sports['폐업일자'])
sports.dropna(subset=['인허가일자'], inplace=True)
sports['인허가일자'] = pd.to_datetime(sports['인허가일자'])

In [6]:
sports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   인허가일자   202 non-null    datetime64[ns]
 1   폐업일자    92 non-null     datetime64[ns]
 2   도로명주소   178 non-null    object
 3   사업장명    202 non-null    object
 4   lat     193 non-null    float64
 5   lon     193 non-null    float64
dtypes: datetime64[ns](2), float64(2), object(2)
memory usage: 9.6+ KB

In [7]:
sports.isna().sum()

인허가일자      0
폐업일자     110
도로명주소     24
사업장명       0
lat        9
lon        9
dtype: int64

In [8]:
sports['폐업일자'] = sports['폐업일자'].fillna('2022-01-01')
sports['인허가일자'] = sports['인허가일자'].fillna('2016-01-01')

In [9]:
sports_do = pd.read_csv('서울시 체육도장업 인허가 정보.csv',encoding='euc-kr')
sports_do = sports_do[['인허가일자','폐업일자','도로명주소','사업장명', '좌표정보(X)', '좌표정보(Y)']]
sports_do = sports_do.rename(columns={'좌표정보(X)':'lat','좌표정보(Y)':'lon'})
sports_do

,인허가일자,폐업일자,도로명주소,사업장명,lat,lon
0,2012-07-25,2023-01-31,"서울특별시 동작구 성대로10가길 5, 4층 (상도동)",제이칼리쿠(태권도),194132.733697,443909.975049
1,2002-03-13,NaN,"서울특별시 서대문구 증가로 201, 2층 (북가좌동)",해솔태권도장,192503.770166,453078.703665
2,1996-12-27,NaN,"서울특별시 강서구 허준로 121, 304호 (가양동, 대림경동아파트 상가동)",부부 용인대 TOP 태권도장,187034.317305,451572.877050
3,2023-03-02,NaN,"서울특별시 강서구 양천로26길 26, 용빌딩 2층 202호 (방화동)",브로스 유도관,183896.836822,452280.508576
4,2023-03-02,NaN,"서울특별시 영등포구 여의대방로 93, 지층 (신길동)",TS국가대표MVP태권도장,192581.012004,443927.696666
...,...,...,...,...,...,...
4995,20111115,NaN,"서울특별시 구로구 천왕로 36 (천왕동, 천왕센터프라자,504,505,506)",용인대MTA 태권도장,185793.473781,442396.350773
4996,20170704,NaN,"서울특별시 서초구 방배로 244 (방배동, 지하1층)",킹스복싱짐,198998.136903,443628.432800
4997,20151012,NaN,"서울특별시 서초구 태봉로 70, 지층 제비101,102호 (우면동, 우면프라자Ι)",케이탑,202190.137341,440262.270869
4998,20150915,NaN,"서울특별시 서초구 중앙로 582, A동 2층 202호 (우면동, 서초타워)",용인대STA태권도장,201286.184985,439441.292545
4999,20220621,NaN,"서울특별시 송파구 위례송파로 77, 1003~1006호 (거여동)",선비태권도장,NaN,NaN

In [10]:
sports_do = sports_do.drop(sports_do.index[4424])

In [11]:
#sports.dropna(subset=['폐업일자'], inplace=True)
sports_do['폐업일자'] = pd.to_datetime(sports_do['폐업일자'])
sports_do.dropna(subset=['인허가일자'], inplace=True)
sports_do['인허가일자'] = pd.to_datetime(sports_do['인허가일자'])

In [12]:
sports_do['폐업일자'] = sports_do['폐업일자'].fillna('2022-01-01')
sports_do['인허가일자'] = sports_do['인허가일자'].fillna('2016-01-01')

In [13]:
sports_all = pd.concat([sports, sports_do])
sports_all

,인허가일자,폐업일자,도로명주소,사업장명,lat,lon
0,2017-03-31,2022-01-01 00:00:00.000000000,서울특별시 송파구 올림픽로 300 (신천동),시그니엘서울 피트니스클럽,NaN,NaN
1,2007-07-05,1970-01-01 00:00:00.020080317,NaN,(주)나비스포렉스,196467.975088,452566.134030
2,2022-04-21,2022-01-01 00:00:00.000000000,"서울특별시 강남구 개포로22길 87, 포이초등학교 (개포동)",포이스포츠센터,204558.513478,441491.962569
3,2014-11-25,2022-01-01 00:00:00.000000000,서울특별시 동대문구 천호대로47길 34 (답십리동),(주)코리아비젼스윔(지점),203831.531062,452388.114512
4,2021-08-26,2022-01-01 00:00:00.000000000,"서울특별시 강북구 삼양로 689, 파라스파라 서울 (우이동)",(주)정상북한산리조트 파라스파라 서울,200704.539774,462416.392839
...,...,...,...,...,...,...
4995,2011-11-15,2022-01-01 00:00:00.000000000,"서울특별시 구로구 천왕로 36 (천왕동, 천왕센터프라자,504,505,506)",용인대MTA 태권도장,185793.473781,442396.350773
4996,2017-07-04,2022-01-01 00:00:00.000000000,"서울특별시 서초구 방배로 244 (방배동, 지하1층)",킹스복싱짐,198998.136903,443628.432800
4997,2015-10-12,2022-01-01 00:00:00.000000000,"서울특별시 서초구 태봉로 70, 지층 제비101,102호 (우면동, 우면프라자Ι)",케이탑,202190.137341,440262.270869
4998,2015-09-15,2022-01-01 00:00:00.000000000,"서울특별시 서초구 중앙로 582, A동 2층 202호 (우면동, 서초타워)",용인대STA태권도장,201286.184985,439441.292545
4999,2022-06-21,2022-01-01 00:00:00.000000000,"서울특별시 송파구 위례송파로 77, 1003~1006호 (거여동)",선비태권도장,NaN,NaN

In [16]:
sports_all = sports_all.reset_index()
sports_all = sports_all.drop(['level_0', 'index'], axis = 1)
sports_all

,인허가일자,폐업일자,도로명주소,사업장명,lat,lon
0,2017-03-31,2022-01-01 00:00:00.000000000,서울특별시 송파구 올림픽로 300 (신천동),시그니엘서울 피트니스클럽,NaN,NaN
1,2007-07-05,1970-01-01 00:00:00.020080317,NaN,(주)나비스포렉스,196467.975088,452566.134030
2,2022-04-21,2022-01-01 00:00:00.000000000,"서울특별시 강남구 개포로22길 87, 포이초등학교 (개포동)",포이스포츠센터,204558.513478,441491.962569
3,2014-11-25,2022-01-01 00:00:00.000000000,서울특별시 동대문구 천호대로47길 34 (답십리동),(주)코리아비젼스윔(지점),203831.531062,452388.114512
4,2021-08-26,2022-01-01 00:00:00.000000000,"서울특별시 강북구 삼양로 689, 파라스파라 서울 (우이동)",(주)정상북한산리조트 파라스파라 서울,200704.539774,462416.392839
...,...,...,...,...,...,...
5196,2011-11-15,2022-01-01 00:00:00.000000000,"서울특별시 구로구 천왕로 36 (천왕동, 천왕센터프라자,504,505,506)",용인대MTA 태권도장,185793.473781,442396.350773
5197,2017-07-04,2022-01-01 00:00:00.000000000,"서울특별시 서초구 방배로 244 (방배동, 지하1층)",킹스복싱짐,198998.136903,443628.432800
5198,2015-10-12,2022-01-01 00:00:00.000000000,"서울특별시 서초구 태봉로 70, 지층 제비101,102호 (우면동, 우면프라자Ι)",케이탑,202190.137341,440262.270869
5199,2015-09-15,2022-01-01 00:00:00.000000000,"서울특별시 서초구 중앙로 582, A동 2층 202호 (우면동, 서초타워)",용인대STA태권도장,201286.184985,439441.292545
5200,2022-06-21,2022-01-01 00:00:00.000000000,"서울특별시 송파구 위례송파로 77, 1003~1006호 (거여동)",선비태권도장,NaN,NaN

In [23]:
from tqdm import tqdm

In [24]:
location_list = sports_all['도로명주소']

location_lat = []
location_lng = []
for name in tqdm(location_list):
    tmp = gmaps.geocode(name, language='ko')
    
    if tmp:
        tmp_loc = tmp[0].get("geometry")
        if tmp_loc:
            location_lat.append(tmp_loc['location']['lat'])
            location_lng.append(tmp_loc['location']['lng'])
        else:
            # 유효한 결과가 없는 경우 처리
            location_lat.append(None)
            location_lng.append(None)
    else:
        # 결과가 없는 경우 처리
        location_lat.append(None)
        location_lng.append(None)

100%|██████████████████████████████████████████████████████████████████████████████| 5201/5201 [13:23<00:00,  6.47it/s]

In [26]:
sports_all['lat'] = location_lat
sports_all['lng'] = location_lng

In [28]:
sports_all

,인허가일자,폐업일자,도로명주소,사업장명,lat,lon,lng
0,2017-03-31,2022-01-01 00:00:00.000000000,서울특별시 송파구 올림픽로 300 (신천동),시그니엘서울 피트니스클럽,37.513101,NaN,127.103433
1,2007-07-05,1970-01-01 00:00:00.020080317,NaN,(주)나비스포렉스,NaN,452566.134030,NaN
2,2022-04-21,2022-01-01 00:00:00.000000000,"서울특별시 강남구 개포로22길 87, 포이초등학교 (개포동)",포이스포츠센터,37.475673,441491.962569,127.052090
3,2014-11-25,2022-01-01 00:00:00.000000000,서울특별시 동대문구 천호대로47길 34 (답십리동),(주)코리아비젼스윔(지점),37.573777,452388.114512,127.044161
4,2021-08-26,2022-01-01 00:00:00.000000000,"서울특별시 강북구 삼양로 689, 파라스파라 서울 (우이동)",(주)정상북한산리조트 파라스파라 서울,37.664972,462416.392839,127.007747
...,...,...,...,...,...,...,...
5196,2011-11-15,2022-01-01 00:00:00.000000000,"서울특별시 구로구 천왕로 36 (천왕동, 천왕센터프라자,504,505,506)",용인대MTA 태권도장,37.515594,442396.350773,126.862177
5197,2017-07-04,2022-01-01 00:00:00.000000000,"서울특별시 서초구 방배로 244 (방배동, 지하1층)",킹스복싱짐,37.494859,443628.432800,126.989460
5198,2015-10-12,2022-01-01 00:00:00.000000000,"서울특별시 서초구 태봉로 70, 지층 제비101,102호 (우면동, 우면프라자Ι)",케이탑,37.464529,440262.270869,127.025545
5199,2015-09-15,2022-01-01 00:00:00.000000000,"서울특별시 서초구 중앙로 582, A동 2층 202호 (우면동, 서초타워)",용인대STA태권도장,37.457133,439441.292545,127.015326
5200,2022-06-21,2022-01-01 00:00:00.000000000,"서울특별시 송파구 위례송파로 77, 1003~1006호 (거여동)",선비태권도장,37.484858,NaN,127.144349

In [31]:
sports_all = sports_all.drop(['lon'], axis=1)
sports_all

,인허가일자,폐업일자,도로명주소,사업장명,lat,lng
0,2017-03-31,2022-01-01 00:00:00.000000000,서울특별시 송파구 올림픽로 300 (신천동),시그니엘서울 피트니스클럽,37.513101,127.103433
1,2007-07-05,1970-01-01 00:00:00.020080317,NaN,(주)나비스포렉스,NaN,NaN
2,2022-04-21,2022-01-01 00:00:00.000000000,"서울특별시 강남구 개포로22길 87, 포이초등학교 (개포동)",포이스포츠센터,37.475673,127.052090
3,2014-11-25,2022-01-01 00:00:00.000000000,서울특별시 동대문구 천호대로47길 34 (답십리동),(주)코리아비젼스윔(지점),37.573777,127.044161
4,2021-08-26,2022-01-01 00:00:00.000000000,"서울특별시 강북구 삼양로 689, 파라스파라 서울 (우이동)",(주)정상북한산리조트 파라스파라 서울,37.664972,127.007747
...,...,...,...,...,...,...
5196,2011-11-15,2022-01-01 00:00:00.000000000,"서울특별시 구로구 천왕로 36 (천왕동, 천왕센터프라자,504,505,506)",용인대MTA 태권도장,37.515594,126.862177
5197,2017-07-04,2022-01-01 00:00:00.000000000,"서울특별시 서초구 방배로 244 (방배동, 지하1층)",킹스복싱짐,37.494859,126.989460
5198,2015-10-12,2022-01-01 00:00:00.000000000,"서울특별시 서초구 태봉로 70, 지층 제비101,102호 (우면동, 우면프라자Ι)",케이탑,37.464529,127.025545
5199,2015-09-15,2022-01-01 00:00:00.000000000,"서울특별시 서초구 중앙로 582, A동 2층 202호 (우면동, 서초타워)",용인대STA태권도장,37.457133,127.015326
5200,2022-06-21,2022-01-01 00:00:00.000000000,"서울특별시 송파구 위례송파로 77, 1003~1006호 (거여동)",선비태권도장,37.484858,127.144349

In [40]:
print(sports_all.isnull().sum())

인허가일자      0
폐업일자       0
도로명주소    301
사업장명       0
lat      305
lng      305
dtype: int64

In [74]:
sports_all = sports_all.dropna(how='any')
display(sports_all)

,인허가일자,폐업일자,도로명주소,사업장명,lat,lng,시군구,시도
0,2017-03-31,2022-01-01,서울특별시 송파구 올림픽로 300 (신천동),시그니엘서울 피트니스클럽,37.513101,127.103433,송파구,서울특별시
1,2022-04-21,2022-01-01,"서울특별시 강남구 개포로22길 87, 포이초등학교 (개포동)",포이스포츠센터,37.475673,127.052090,강남구,서울특별시
2,2014-11-25,2022-01-01,서울특별시 동대문구 천호대로47길 34 (답십리동),(주)코리아비젼스윔(지점),37.573777,127.044161,동대문구,서울특별시
3,2021-08-26,2022-01-01,"서울특별시 강북구 삼양로 689, 파라스파라 서울 (우이동)",(주)정상북한산리조트 파라스파라 서울,37.664972,127.007747,강북구,서울특별시
4,2001-01-29,2022-01-01,서울특별시 강남구 남부순환로 3318 (일원동),강남주민편익시설(48),37.488058,127.082867,강남구,서울특별시
...,...,...,...,...,...,...,...,...
4891,2011-11-15,2022-01-01,"서울특별시 구로구 천왕로 36 (천왕동, 천왕센터프라자,504,505,506)",용인대MTA 태권도장,37.515594,126.862177,구로구,서울특별시
4892,2017-07-04,2022-01-01,"서울특별시 서초구 방배로 244 (방배동, 지하1층)",킹스복싱짐,37.494859,126.989460,서초구,서울특별시
4893,2015-10-12,2022-01-01,"서울특별시 서초구 태봉로 70, 지층 제비101,102호 (우면동, 우면프라자Ι)",케이탑,37.464529,127.025545,서초구,서울특별시
4894,2015-09-15,2022-01-01,"서울특별시 서초구 중앙로 582, A동 2층 202호 (우면동, 서초타워)",용인대STA태권도장,37.457133,127.015326,서초구,서울특별시
4895,2022-06-21,2022-01-01,"서울특별시 송파구 위례송파로 77, 1003~1006호 (거여동)",선비태권도장,37.484858,127.144349,송파구,서울특별시

In [75]:
sports_all= sports_all.drop(['level_0', 'index'], axis = 1)
sports_all

KeyError: "['level_0', 'index'] not found in axis"

In [76]:
cut_addresses = []
for address in sports_all['도로명주소']:
    cut_address = address.split()  # "서울특별시 중구"까지 슬라이싱
    cut_addresses.append(cut_address[1])


address = pd.Series(cut_addresses)
sports_all['시군구'] = address
sports_all['시도'] = '서울특별시'
sports_all

,인허가일자,폐업일자,도로명주소,사업장명,lat,lng,시군구,시도
0,2017-03-31,2022-01-01,서울특별시 송파구 올림픽로 300 (신천동),시그니엘서울 피트니스클럽,37.513101,127.103433,송파구,서울특별시
1,2022-04-21,2022-01-01,"서울특별시 강남구 개포로22길 87, 포이초등학교 (개포동)",포이스포츠센터,37.475673,127.052090,강남구,서울특별시
2,2014-11-25,2022-01-01,서울특별시 동대문구 천호대로47길 34 (답십리동),(주)코리아비젼스윔(지점),37.573777,127.044161,동대문구,서울특별시
3,2021-08-26,2022-01-01,"서울특별시 강북구 삼양로 689, 파라스파라 서울 (우이동)",(주)정상북한산리조트 파라스파라 서울,37.664972,127.007747,강북구,서울특별시
4,2001-01-29,2022-01-01,서울특별시 강남구 남부순환로 3318 (일원동),강남주민편익시설(48),37.488058,127.082867,강남구,서울특별시
...,...,...,...,...,...,...,...,...
4891,2011-11-15,2022-01-01,"서울특별시 구로구 천왕로 36 (천왕동, 천왕센터프라자,504,505,506)",용인대MTA 태권도장,37.515594,126.862177,구로구,서울특별시
4892,2017-07-04,2022-01-01,"서울특별시 서초구 방배로 244 (방배동, 지하1층)",킹스복싱짐,37.494859,126.989460,서초구,서울특별시
4893,2015-10-12,2022-01-01,"서울특별시 서초구 태봉로 70, 지층 제비101,102호 (우면동, 우면프라자Ι)",케이탑,37.464529,127.025545,서초구,서울특별시
4894,2015-09-15,2022-01-01,"서울특별시 서초구 중앙로 582, A동 2층 202호 (우면동, 서초타워)",용인대STA태권도장,37.457133,127.015326,서초구,서울특별시
4895,2022-06-21,2022-01-01,"서울특별시 송파구 위례송파로 77, 1003~1006호 (거여동)",선비태권도장,37.484858,127.144349,송파구,서울특별시

In [77]:
sports_all_2019 = sports_all[(sports_all['인허가일자'] <= '2020-01-01') & (sports_do['폐업일자'] >='2019-12-31')]
sports_all_2019.reset_index(inplace=True)
sports_all_2019 = sports_all_2019.drop(['index'], axis = 1)
sports_all_2019

C:\Users\Playdata\AppData\Local\Temp\ipykernel_5116\4187141110.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  sports_all_2019 = sports_all[(sports_all['인허가일자'] <= '2020-01-01') & (sports_do['폐업일자'] >='2019-12-31')]

,인허가일자,폐업일자,도로명주소,사업장명,lat,lng,시군구,시도
0,2017-03-31,2022-01-01,서울특별시 송파구 올림픽로 300 (신천동),시그니엘서울 피트니스클럽,37.513101,127.103433,송파구,서울특별시
1,2014-11-25,2022-01-01,서울특별시 동대문구 천호대로47길 34 (답십리동),(주)코리아비젼스윔(지점),37.573777,127.044161,동대문구,서울특별시
2,2001-01-29,2022-01-01,서울특별시 강남구 남부순환로 3318 (일원동),강남주민편익시설(48),37.488058,127.082867,강남구,서울특별시
3,2016-10-06,2022-01-01,"서울특별시 강남구 삼성로135길 42 (청담동, 언북초등학교)",언북문화체육센터,37.519926,127.045100,강남구,서울특별시
4,2015-09-09,2022-01-01,"서울특별시 강남구 도산대로 442, 4~6층 (청담동, 피엔폴루스)",코오롱글로벌(주)스포렉스(53),37.523291,127.044048,강남구,서울특별시
...,...,...,...,...,...,...,...,...
2555,1995-01-26,2022-06-27,서울특별시 중랑구 사가정로 365 (면목동),대성체육관,37.581194,127.085352,중랑구,서울특별시
2556,1990-02-12,2022-06-27,서울특별시 중랑구 봉우재로 203-1 (망우동),청도태권도,37.594805,127.095301,중랑구,서울특별시
2557,2017-07-04,2022-01-01,"서울특별시 서초구 방배로 244 (방배동, 지하1층)",킹스복싱짐,37.494859,126.989460,서초구,서울특별시
2558,2015-10-12,2022-01-01,"서울특별시 서초구 태봉로 70, 지층 제비101,102호 (우면동, 우면프라자Ι)",케이탑,37.464529,127.025545,서초구,서울특별시
2559,2015-09-15,2022-01-01,"서울특별시 서초구 중앙로 582, A동 2층 202호 (우면동, 서초타워)",용인대STA태권도장,37.457133,127.015326,서초구,서울특별시

In [78]:
sports_all_2018 = sports_all[(sports_all['인허가일자'] <= '2019-01-01') & (sports_do['폐업일자'] >='2018-12-31')]
sports_all_2018.reset_index(inplace=True)
sports_all_2018 = sports_all_2018.drop(['index'], axis = 1)
sports_all_2018

C:\Users\Playdata\AppData\Local\Temp\ipykernel_5116\4216380.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  sports_all_2018 = sports_all[(sports_all['인허가일자'] <= '2019-01-01') & (sports_do['폐업일자'] >='2018-12-31')]

,인허가일자,폐업일자,도로명주소,사업장명,lat,lng,시군구,시도
0,2017-03-31,2022-01-01,서울특별시 송파구 올림픽로 300 (신천동),시그니엘서울 피트니스클럽,37.513101,127.103433,송파구,서울특별시
1,2014-11-25,2022-01-01,서울특별시 동대문구 천호대로47길 34 (답십리동),(주)코리아비젼스윔(지점),37.573777,127.044161,동대문구,서울특별시
2,2001-01-29,2022-01-01,서울특별시 강남구 남부순환로 3318 (일원동),강남주민편익시설(48),37.488058,127.082867,강남구,서울특별시
3,2016-10-06,2022-01-01,"서울특별시 강남구 삼성로135길 42 (청담동, 언북초등학교)",언북문화체육센터,37.519926,127.045100,강남구,서울특별시
4,2015-09-09,2022-01-01,"서울특별시 강남구 도산대로 442, 4~6층 (청담동, 피엔폴루스)",코오롱글로벌(주)스포렉스(53),37.523291,127.044048,강남구,서울특별시
...,...,...,...,...,...,...,...,...
2604,1995-01-26,2022-06-27,서울특별시 중랑구 사가정로 365 (면목동),대성체육관,37.581194,127.085352,중랑구,서울특별시
2605,1990-02-12,2022-06-27,서울특별시 중랑구 봉우재로 203-1 (망우동),청도태권도,37.594805,127.095301,중랑구,서울특별시
2606,2017-07-04,2022-01-01,"서울특별시 서초구 방배로 244 (방배동, 지하1층)",킹스복싱짐,37.494859,126.989460,서초구,서울특별시
2607,2015-10-12,2022-01-01,"서울특별시 서초구 태봉로 70, 지층 제비101,102호 (우면동, 우면프라자Ι)",케이탑,37.464529,127.025545,서초구,서울특별시
2608,2015-09-15,2022-01-01,"서울특별시 서초구 중앙로 582, A동 2층 202호 (우면동, 서초타워)",용인대STA태권도장,37.457133,127.015326,서초구,서울특별시

In [79]:
sports_all_2017 = sports_all[(sports_all['인허가일자'] <= '2018-01-01') & (sports_do['폐업일자'] >='2017-12-31')]
sports_all_2017.reset_index(inplace=True)
sports_all_2017 = sports_all_2017.drop(['index'], axis = 1)
sports_all_2017

C:\Users\Playdata\AppData\Local\Temp\ipykernel_5116\714215915.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  sports_all_2017 = sports_all[(sports_all['인허가일자'] <= '2018-01-01') & (sports_do['폐업일자'] >='2017-12-31')]

,인허가일자,폐업일자,도로명주소,사업장명,lat,lng,시군구,시도
0,2017-03-31,2022-01-01,서울특별시 송파구 올림픽로 300 (신천동),시그니엘서울 피트니스클럽,37.513101,127.103433,송파구,서울특별시
1,2014-11-25,2022-01-01,서울특별시 동대문구 천호대로47길 34 (답십리동),(주)코리아비젼스윔(지점),37.573777,127.044161,동대문구,서울특별시
2,2001-01-29,2022-01-01,서울특별시 강남구 남부순환로 3318 (일원동),강남주민편익시설(48),37.488058,127.082867,강남구,서울특별시
3,2016-10-06,2022-01-01,"서울특별시 강남구 삼성로135길 42 (청담동, 언북초등학교)",언북문화체육센터,37.519926,127.045100,강남구,서울특별시
4,2015-09-09,2022-01-01,"서울특별시 강남구 도산대로 442, 4~6층 (청담동, 피엔폴루스)",코오롱글로벌(주)스포렉스(53),37.523291,127.044048,강남구,서울특별시
...,...,...,...,...,...,...,...,...
2634,1990-02-12,2022-06-27,서울특별시 중랑구 봉우재로 203-1 (망우동),청도태권도,37.594805,127.095301,중랑구,서울특별시
2635,2011-11-15,2022-01-01,"서울특별시 구로구 천왕로 36 (천왕동, 천왕센터프라자,504,505,506)",용인대MTA 태권도장,37.515594,126.862177,구로구,서울특별시
2636,2017-07-04,2022-01-01,"서울특별시 서초구 방배로 244 (방배동, 지하1층)",킹스복싱짐,37.494859,126.989460,서초구,서울특별시
2637,2015-10-12,2022-01-01,"서울특별시 서초구 태봉로 70, 지층 제비101,102호 (우면동, 우면프라자Ι)",케이탑,37.464529,127.025545,서초구,서울특별시
2638,2015-09-15,2022-01-01,"서울특별시 서초구 중앙로 582, A동 2층 202호 (우면동, 서초타워)",용인대STA태권도장,37.457133,127.015326,서초구,서울특별시

In [80]:
sports_all_2017 = sports_all_2017.sort_values(by='시군구', key=lambda x: x.str.lower()).reset_index(drop=True)
sports_all_2018 = sports_all_2018.sort_values(by='시군구').reset_index(drop=True)
sports_all_2019 = sports_all_2019.sort_values(by='시군구').reset_index(drop=True)

In [81]:
desired_columns = ['시도', '시군구', '사업장명', '인허가일자', '폐업일자', '지번주소', 'lat', 'lon']  # 원하는 순서대로 열 이름을 나열합니다
sports_all_2017 = sports_all_2017.reindex(columns=desired_columns)

sports_all_2018 = sports_all_2018.reindex(columns=desired_columns)

sports_all_2019 = sports_all_2019.reindex(columns=desired_columns)

In [82]:
sports_all_2017

,시도,시군구,사업장명,인허가일자,폐업일자,지번주소,lat,lon
0,서울특별시,강남구,스타복싱2호점,2014-10-31,2022-01-01,NaN,37.486806,NaN
1,서울특별시,강남구,김주현 태권도 아카데미(153),2010-07-23,2020-06-25,NaN,37.521451,NaN
2,서울특별시,강남구,중앙체육관(태권도)(151),1999-11-17,2020-06-18,NaN,37.510004,NaN
3,서울특별시,강남구,대망태권도장(154),2000-09-06,2014-05-30,NaN,37.505321,NaN
4,서울특별시,강남구,임파워트레이닝센터(278)[복싱],2013-10-15,2015-10-02,NaN,37.515665,NaN
...,...,...,...,...,...,...,...,...
2634,서울특별시,중랑구,청학태권도,1998-06-23,2014-04-21,NaN,37.597861,NaN
2635,서울특별시,중랑구,동서울생활체육교실,1998-03-17,2000-09-21,NaN,37.600109,NaN
2636,서울특별시,중랑구,경희대석사 엘리트태권도,1998-02-24,2021-03-08,NaN,37.574542,NaN
2637,서울특별시,중랑구,충효체육관,1999-09-27,2022-12-30,NaN,37.590404,NaN
2638,서울특별시,중랑구,오륜체육관,1993-11-04,2004-11-15,NaN,37.585508,NaN

In [83]:
print(len(sports_all_2017))
print(len(sports_all_2018))
print(len(sports_all_2019))

2639
2609
2560

In [84]:
sports_all_2017 = sports_all_2017.groupby('시군구').agg('count')
sports_all_2018 = sports_all_2018.groupby('시군구').agg('count')
sports_all_2019 = sports_all_2019.groupby('시군구').agg('count')
sports_all_2017

       시도  사업장명  인허가일자  폐업일자  지번주소  lat  lon
시군구
강남구   225   225    225   225     0  225    0
강동구   130   130    130   130     0  130    0
강북구    80    80     80    80     0   80    0
강서구   159   159    159   159     0  159    0
관악구   157   157    157   157     0  157    0
광진구    68    68     68    68     0   68    0
구로구    92    92     92    92     0   92    0
금천구    55    55     55    55     0   55    0
노원구   157   157    157   157     0  157    0
도봉구    94    94     94    94     0   94    0
동대문구   92    92     92    92     0   92    0
동작구    85    85     85    85     0   85    0
마포구    95    95     95    95     0   95    0
서대문구   81    81     81    81     0   81    0
서초구    85    85     85    85     0   85    0
성동구    89    89     89    89     0   89    0
성북구   110   110    110   110     0  110    0
송파구   189   189    189   189     0  189    0
양천구   150   150    150   150     0  150    0
영등포구  112   112    112   112     0  112    0
용산구    49    49     49    49     0   49    0
은평구   116   116    116   116     0  116    0
종로구    42    42     42    42     0   42    0
중구      5     5      5     5     0    5    0
중랑구   122   122    122   122     0  122    0

In [85]:
sports_all_2017 = sports_all_2017[['사업장명']] # 나머지 컬럼 drop
sports_all_2017.rename(columns = {'사업장명' : '2017'}, inplace = True) # 이름 변경
sports_all_2018 = sports_all_2018[['사업장명']] # 나머지 컬럼 drop
sports_all_2018.rename(columns = {'사업장명' : '2018'}, inplace = True) # 이름 변경
sports_all_2019 = sports_all_2019[['사업장명']] # 나머지 컬럼 drop
sports_all_2019.rename(columns = {'사업장명' : '2019'}, inplace = True) # 이름 변경

C:\Users\Playdata\AppData\Local\Temp\ipykernel_5116\1023966206.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sports_all_2017.rename(columns = {'사업장명' : '2017'}, inplace = True) # 이름 변경

In [86]:
sports_all_2017.reset_index(inplace = True) # 인덱스 초기화
sports_all_2018.reset_index(inplace = True)
sports_all_2019.reset_index(inplace = True)

In [87]:
sports_all_2017.insert(0, '시도', '서울특별시') # 태블로 사용을 위한 시도 컬럼 추가
sports_all_2018.insert(0, '시도', '서울특별시')
sports_all_2019.insert(0, '시도', '서울특별시')

In [88]:
sports_all_years_info = sports_all_2017.merge(sports_all_2018, on = '시군구', how='inner').merge(sports_all_2019, on = '시군구', how = 'inner')
sports_all_years_info = sports_all_years_info[['시도', '시군구', '2017', '2018', '2019']]
sports_all_years_info

       시도   시군구  2017  2018  2019
0   서울특별시   강남구   225   232   234
1   서울특별시   강동구   130   127   126
2   서울특별시   강북구    80    70    68
3   서울특별시   강서구   159   158   144
4   서울특별시   관악구   157   153   150
5   서울특별시   광진구    68    60    60
6   서울특별시   구로구    92    94    92
7   서울특별시   금천구    55    56    52
8   서울특별시   노원구   157   160   160
9   서울특별시   도봉구    94    94    96
10  서울특별시  동대문구    92    89    86
11  서울특별시   동작구    85    83    85
12  서울특별시   마포구    95    99    96
13  서울특별시  서대문구    81    80    81
14  서울특별시   서초구    85    85    87
15  서울특별시   성동구    89    86    79
16  서울특별시   성북구   110   106   112
17  서울특별시   송파구   189   185   182
18  서울특별시   양천구   150   151   134
19  서울특별시  영등포구   112   110   107
20  서울특별시   용산구    49    51    52
21  서울특별시   은평구   116   116   116
22  서울특별시   종로구    42    39    39
23  서울특별시    중구     5     6     7
24  서울특별시   중랑구   122   119   115

In [89]:
sports_all_years_info['2017~2018'] = (sports_all_years_info['2017'] - sports_all_years_info['2018']) * -1
sports_all_years_info['2018~2019'] = (sports_all_years_info['2018'] - sports_all_years_info['2019']) * -1
sports_all_years_info['2017~2019'] = (sports_all_years_info['2017'] - sports_all_years_info['2019']) * -1

In [90]:
sports_all_years_info

       시도   시군구  2017  2018  2019  2017~2018  2018~2019  2017~2019
0   서울특별시   강남구   225   232   234          7          2          9
1   서울특별시   강동구   130   127   126         -3         -1         -4
2   서울특별시   강북구    80    70    68        -10         -2        -12
3   서울특별시   강서구   159   158   144         -1        -14        -15
4   서울특별시   관악구   157   153   150         -4         -3         -7
5   서울특별시   광진구    68    60    60         -8          0         -8
6   서울특별시   구로구    92    94    92          2         -2          0
7   서울특별시   금천구    55    56    52          1         -4         -3
8   서울특별시   노원구   157   160   160          3          0          3
9   서울특별시   도봉구    94    94    96          0          2          2
10  서울특별시  동대문구    92    89    86         -3         -3         -6
11  서울특별시   동작구    85    83    85         -2          2          0
12  서울특별시   마포구    95    99    96          4         -3          1
13  서울특별시  서대문구    81    80    81         -1          1          0
14  서울특별시   서초구    85    85    87          0          2          2
15  서울특별시   성동구    89    86    79         -3         -7        -10
16  서울특별시   성북구   110   106   112         -4          6          2
17  서울특별시   송파구   189   185   182         -4         -3         -7
18  서울특별시   양천구   150   151   134          1        -17        -16
19  서울특별시  영등포구   112   110   107         -2         -3         -5
20  서울특별시   용산구    49    51    52          2          1          3
21  서울특별시   은평구   116   116   116          0          0          0
22  서울특별시   종로구    42    39    39         -3          0         -3
23  서울특별시    중구     5     6     7          1          1          2
24  서울특별시   중랑구   122   119   115         -3         -4         -7

In [92]:
sports_all_2017.to_excel('체육시설_구별_갯수_2017.xlsx')
sports_all_2018.to_excel('체육시설_구별_갯수_2018.xlsx')
sports_all_2019.to_excel('체육시설_구별_갯수_2019.xlsx')
sports_all_years_info.to_excel('체육시설_구별_갯수_total.xlsx')