In [1]:
import pandas as pd
import numpy as np
import glob
import matplotlib as mat
import matplotlib.pyplot as plt
import seaborn as sns
import xlrd
import platform
import json
import googlemaps
import folium
from matplotlib import font_manager , rc
f_path = "/Library/Fonts/Arial Unicode.ttf"
font_name = font_manager.FontProperties(fname=f_path).get_name()
rc('font', family=font_name)

In [2]:
gmaps_key = "AIzaSyA4lognWEmzHerB9fu8UZYyEjyEMgRJAws"
gmaps = googlemaps.Client(key=gmaps_key)

### 서울시 도서관

In [3]:
lib = pd.read_excel('../data/공공도서관 통계데이터_2017~2019.xlsx')
lib.head()

,도서관명,도서관부호,지역,시군구,설립주체,개관년도,주소,상세주소,전화번호,팩스,홈페이지
0,4.19 혁명기념 도서관,111001.0,서울,종로구,사립,2000,서울특별시 종로구 새문안로 17 (평동),4.19혁명기념도서관,02-730-4190,02-737-9557,http://library.419revolution.org
1,가락몰도서관,111456.0,서울,송파구,사립,2016,서울특별시 송파구 양재대로 932 (가락동),가락몰 업무동 4층,02-3435-0950,02-3435-0959,http://www.splib.or.kr/spalib/
2,가온도서관,111108.0,서울,중구,지자체,2008,서울특별시 중구 동호로14길,18 (가온도서관),02-2230-2921,02-2285-4607,http://www.e-junggulib.or.kr
3,갈산도서관,128040.0,서울,양천구,지자체,2014,서울특별시 양천구 목동남로 4길,48-6 갈산도서관,02-2645-5919,NaN,https://lib.yangcheon.or.kr/libgalsan/
4,강남구립 역삼푸른솔 도서관,111127.0,서울,강남구,지자체,2009,서울특별시 강남구 테헤란로8길 36 (역삼동),4층 강남구립 역삼푸른솔도서관,02-2051-1178,02-2051-1103,https://library.gangnam.go.kr/ysplib/index.do

In [4]:
lib = lib[['도서관명', '지역', '시군구', '개관년도', '주소']]

### 주소 -> 위도 경도

In [5]:
location_list = lib['주소'].to_list()

In [6]:
location_lat = []
location_lng = []
for name in location_list:
    tmp = gmaps.geocode(name, language='ko')
    
    if tmp:
        tmp_loc = tmp[0].get("geometry")
        if tmp_loc:
            location_lat.append(tmp_loc['location']['lat'])
            location_lng.append(tmp_loc['location']['lng'])
        else:
            # 유효한 결과가 없는 경우 처리
            location_lat.append(None)
            location_lng.append(None)
    else:
        # 결과가 없는 경우 처리
        location_lat.append(None)
        location_lng.append(None)

In [7]:
lat = pd.Series(location_lat)
lon = pd.Series(location_lng)

In [8]:
lib['lat'] = lat
lib['lon'] = lon

In [9]:
lib

,도서관명,지역,시군구,개관년도,주소,lat,lon
0,4.19 혁명기념 도서관,서울,종로구,2000,서울특별시 종로구 새문안로 17 (평동),37.567916,126.966862
1,가락몰도서관,서울,송파구,2016,서울특별시 송파구 양재대로 932 (가락동),37.493482,127.111504
2,가온도서관,서울,중구,2008,서울특별시 중구 동호로14길,37.556653,127.010213
3,갈산도서관,서울,양천구,2014,서울특별시 양천구 목동남로 4길,37.508501,126.866634
4,강남구립 역삼푸른솔 도서관,서울,강남구,2009,서울특별시 강남구 테헤란로8길 36 (역삼동),37.496491,127.031845
...,...,...,...,...,...,...,...
198,종암동새날도서관,서울,성북구,2011,서울 성북구 종암로 98-8,37.598997,127.035111
199,중랑숲어린이도서관,서울,중랑구,2012,서울특별시 중랑구 망우로73길 46-1 (망우동),37.602660,127.103881
200,하계어린이도서관,서울,노원구,2021,서울특별시 노원구 공릉로62길 18 (하계동),37.641990,127.074643
201,해오름도서관,서울,성북구,2009,서울 성북구 돈암동,37.597795,127.018283
202,휘경어린이도서관,서울,동대문구,2014,서울특별시 동대문구 망우로18가길 38,37.588658,127.060623

In [10]:
lib.isnull()

      도서관명     지역    시군구   개관년도     주소    lat    lon
0    False  False  False  False  False  False  False
1    False  False  False  False  False  False  False
2    False  False  False  False  False  False  False
3    False  False  False  False  False  False  False
4    False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...
198  False  False  False  False  False  False  False
199  False  False  False  False  False  False  False
200  False  False  False  False  False  False  False
201  False  False  False  False  False  False  False
202  False  False  False  False  False  False  False

[203 rows x 7 columns]

### 널값인 위도 경도 찾아서 값 넣기

In [11]:
null = lib[lib['lon'].isnull()]
null

       도서관명  지역  시군구  개관년도                                  주소  lat  lon
49  달빛마루도서관  서울  성북구  2012  서울특별시 성북구 종암로 167 (하월곡동, 동일하이빌뉴시티)  NaN  NaN
51    대치도서관  서울  강남구  1999      서울특별시 강남구 삼성로 212 (대치동, 은마아파트)  NaN  NaN

In [12]:
# 37.605235 127.030993
# 37.496087 127.064071

In [13]:
lib.at[49, 'lat'] = '37.605235'
lib.at[49, 'lon'] = '127.030993'

lib.at[51, 'lat'] = '37.496087'
lib.at[51, 'lon'] = '127.064071'

In [14]:
lib.iloc[51]

도서관명                             대치도서관
지역                                  서울
시군구                                강남구
개관년도                              1999
주소      서울특별시 강남구 삼성로 212 (대치동, 은마아파트)
lat                          37.496087
lon                         127.064071
Name: 51, dtype: object

In [15]:
lib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   도서관명    203 non-null    object
 1   지역      203 non-null    object
 2   시군구     203 non-null    object
 3   개관년도    203 non-null    int64
 4   주소      203 non-null    object
 5   lat     203 non-null    object
 6   lon     203 non-null    object
dtypes: int64(1), object(6)
memory usage: 11.2+ KB

In [16]:
lib['개관년도'].astype(float)

0      2000.0
1      2016.0
2      2008.0
3      2014.0
4      2009.0
        ...
198    2011.0
199    2012.0
200    2021.0
201    2009.0
202    2014.0
Name: 개관년도, Length: 203, dtype: float64

In [17]:
lib_2017_raw = lib[lib['개관년도'] < 2018]
lib_2018_raw = lib[lib['개관년도'] < 2019]
lib_2019_raw = lib[lib['개관년도'] < 2020]

In [18]:
lib_2017_raw

,도서관명,지역,시군구,개관년도,주소,lat,lon
0,4.19 혁명기념 도서관,서울,종로구,2000,서울특별시 종로구 새문안로 17 (평동),37.567916,126.966862
1,가락몰도서관,서울,송파구,2016,서울특별시 송파구 양재대로 932 (가락동),37.493482,127.111504
2,가온도서관,서울,중구,2008,서울특별시 중구 동호로14길,37.556653,127.010213
3,갈산도서관,서울,양천구,2014,서울특별시 양천구 목동남로 4길,37.508501,126.866634
4,강남구립 역삼푸른솔 도서관,서울,강남구,2009,서울특별시 강남구 테헤란로8길 36 (역삼동),37.496491,127.031845
...,...,...,...,...,...,...,...
194,아리랑어린이도서관,서울,성북구,2017,"서울특별시 성북구 아리랑로 75 (돈암동, 돈암코오롱하늘채)",37.599107,127.013795
198,종암동새날도서관,서울,성북구,2011,서울 성북구 종암로 98-8,37.598997,127.035111
199,중랑숲어린이도서관,서울,중랑구,2012,서울특별시 중랑구 망우로73길 46-1 (망우동),37.60266,127.103881
201,해오름도서관,서울,성북구,2009,서울 성북구 돈암동,37.597795,127.018283
202,휘경어린이도서관,서울,동대문구,2014,서울특별시 동대문구 망우로18가길 38,37.588658,127.060623

# 년도 별 도서관 개수로 도서관 개수 증감 확인

In [19]:
print(len(lib_2017_raw))
print(len(lib_2018_raw))
print(len(lib_2019_raw))

155
167
175

In [20]:
lib_2017_raw.head()

,도서관명,지역,시군구,개관년도,주소,lat,lon
0,4.19 혁명기념 도서관,서울,종로구,2000,서울특별시 종로구 새문안로 17 (평동),37.567916,126.966862
1,가락몰도서관,서울,송파구,2016,서울특별시 송파구 양재대로 932 (가락동),37.493482,127.111504
2,가온도서관,서울,중구,2008,서울특별시 중구 동호로14길,37.556653,127.010213
3,갈산도서관,서울,양천구,2014,서울특별시 양천구 목동남로 4길,37.508501,126.866634
4,강남구립 역삼푸른솔 도서관,서울,강남구,2009,서울특별시 강남구 테헤란로8길 36 (역삼동),37.496491,127.031845

In [21]:
# 데이터 보기 편하게 정렬
lib_2017_raw = lib_2017_raw.sort_values(by='시군구').reset_index(drop=True)
lib_2018_raw = lib_2018_raw.sort_values(by='시군구').reset_index(drop=True)
lib_2019_raw = lib_2019_raw.sort_values(by='시군구').reset_index(drop=True)

In [22]:
desired_columns = ['지역', '시군구', '도서관명', '개관년도', '주소', 'lat', 'lon']  # 원하는 순서대로 열 이름을 나열합니다
lib_2017_raw = lib_2017_raw.reindex(columns=desired_columns)

In [23]:
lib_2017_raw

,지역,시군구,도서관명,개관년도,주소,lat,lon
0,서울,강남구,논현도서관,1997,서울특별시 강남구 학동로43길 17 (논현동),37.517292,127.037235
1,서울,강남구,행복한도서관,2006,서울특별시 강남구 영동대로65길 24 (대치동),37.498425,127.076531
2,서울,강남구,서울특별시교육청강남도서관,1982,서울특별시 강남구 선릉로116길 45 (삼성동),37.512433,127.048779
3,서울,강남구,정다운도서관,2004,서울특별시 강남구 학동로67길,37.519207,127.046721
4,서울,강남구,즐거운도서관,2004,"서울특별시 강남구 도곡로77길 23, 4층 (대치동)",37.499743,127.057849
...,...,...,...,...,...,...,...
150,서울,중구,가온도서관,2008,서울특별시 중구 동호로14길,37.556653,127.010213
151,서울,중구,남산타운문화체육센터 어린이도서관,2011,서울특별시 중구 다산로,37.558725,127.012021
152,서울,중랑구,중랑구립정보도서관,1999,서울특별시 중랑구 신내로15길 197 (묵동),37.615218,127.08694
153,서울,중랑구,중랑구립면목정보도서관,2005,서울특별시 중랑구 면목로 397 (면목동),37.587359,127.08756
154,서울,중랑구,중랑숲어린이도서관,2012,서울특별시 중랑구 망우로73길 46-1 (망우동),37.60266,127.103881

In [24]:
lib_2017_raw.to_excel('../data/공공도서관_구별_주소_2017.xlsx')
lib_2018_raw.to_excel('../data/공공도서관_구별_주소_2018.xlsx')
lib_2019_raw.to_excel('../data/공공도서관_구별_주소_2019.xlsx')

In [25]:
#lib_2017_raw.set_index('시군구', inplace=True)
# folium 쓰기 위해

### 구별 도서관 개수 분리

In [26]:
lib_2017_total = lib_2017_raw.groupby('시군구').agg('count')
lib_2018_total = lib_2018_raw.groupby('시군구').agg('count')
lib_2019_total = lib_2019_raw.groupby('시군구').agg('count')
# 각 구별 도서관 개수 확인

In [27]:
lib_2017_total = lib_2017_total[['도서관명']] # 나머지 컬럼 drop
lib_2017_total.rename(columns = {'도서관명' : '2017'}, inplace = True) # 이름 변경
lib_2018_total = lib_2018_total[['도서관명']] # 나머지 컬럼 drop
lib_2018_total.rename(columns = {'도서관명' : '2018'}, inplace = True) # 이름 변경
lib_2019_total = lib_2019_total[['도서관명']] # 나머지 컬럼 drop
lib_2019_total.rename(columns = {'도서관명' : '2019'}, inplace = True) # 이름 변경

In [28]:
lib_2017_total.reset_index(inplace = True) # 인덱스 초기화
lib_2018_total.reset_index(inplace = True)
lib_2019_total.reset_index(inplace = True)

In [29]:
lib_2017_total.insert(0, '시도', '서울특별시') # 태블로 사용을 위한 시도 컬럼 추가
lib_2018_total.insert(0, '시도', '서울특별시')
lib_2019_total.insert(0, '시도', '서울특별시')

In [30]:
lib_2017_total # 각 구별 도서관 수 결과.

       시도   시군구  2017
0   서울특별시   강남구    12
1   서울특별시   강동구     8
2   서울특별시   강북구     7
3   서울특별시   강서구     9
4   서울특별시   관악구     5
5   서울특별시   광진구     4
6   서울특별시   구로구    10
7   서울특별시   금천구     4
8   서울특별시   노원구     6
9   서울특별시   도봉구     6
10  서울특별시  동대문구     4
11  서울특별시   동작구     4
12  서울특별시   마포구     5
13  서울특별시  서대문구     4
14  서울특별시   서초구     4
15  서울특별시   성동구     6
16  서울특별시   성북구    10
17  서울특별시   송파구    12
18  서울특별시   양천구     6
19  서울특별시  영등포구     5
20  서울특별시   용산구     4
21  서울특별시   은평구     6
22  서울특별시   종로구     6
23  서울특별시    중구     5
24  서울특별시   중랑구     3

### 각 년도별 데이터 merge

In [31]:
lib_years_info = lib_2017_total.merge(lib_2018_total, on = '시군구', how='inner').merge(lib_2019_total, on = '시군구', how = 'inner')
lib_years_info = lib_years_info[['시도', '시군구', '2017', '2018', '2019']]
lib_years_info

       시도   시군구  2017  2018  2019
0   서울특별시   강남구    12    13    13
1   서울특별시   강동구     8     8     8
2   서울특별시   강북구     7     7     7
3   서울특별시   강서구     9     9     9
4   서울특별시   관악구     5     5     5
5   서울특별시   광진구     4     4     4
6   서울특별시   구로구    10    10    11
7   서울특별시   금천구     4     4     4
8   서울특별시   노원구     6     8     8
9   서울특별시   도봉구     6     6     7
10  서울특별시  동대문구     4     4     5
11  서울특별시   동작구     4     5     5
12  서울특별시   마포구     5     5     5
13  서울특별시  서대문구     4     4     4
14  서울특별시   서초구     4     6     7
15  서울특별시   성동구     6     6     6
16  서울특별시   성북구    10    10    12
17  서울특별시   송파구    12    12    12
18  서울특별시   양천구     6     9     9
19  서울특별시  영등포구     5     5     5
20  서울특별시   용산구     4     4     4
21  서울특별시   은평구     6     7     8
22  서울특별시   종로구     6     7     7
23  서울특별시    중구     5     5     5
24  서울특별시   중랑구     3     4     5

In [32]:
lib_years_info['2017~2018'] = abs(lib_years_info['2017'] - lib_years_info['2018'])
lib_years_info['2018~2019'] = abs(lib_years_info['2018'] - lib_years_info['2019'])
lib_years_info['2017~2019'] = abs(lib_years_info['2017'] - lib_years_info['2019'])

In [33]:
lib_years_info

       시도   시군구  2017  2018  2019  2017~2018  2018~2019  2017~2019
0   서울특별시   강남구    12    13    13          1          0          1
1   서울특별시   강동구     8     8     8          0          0          0
2   서울특별시   강북구     7     7     7          0          0          0
3   서울특별시   강서구     9     9     9          0          0          0
4   서울특별시   관악구     5     5     5          0          0          0
5   서울특별시   광진구     4     4     4          0          0          0
6   서울특별시   구로구    10    10    11          0          1          1
7   서울특별시   금천구     4     4     4          0          0          0
8   서울특별시   노원구     6     8     8          2          0          2
9   서울특별시   도봉구     6     6     7          0          1          1
10  서울특별시  동대문구     4     4     5          0          1          1
11  서울특별시   동작구     4     5     5          1          0          1
12  서울특별시   마포구     5     5     5          0          0          0
13  서울특별시  서대문구     4     4     4          0          0          0
14  서울특별시   서초구     4     6     7          2          1          3
15  서울특별시   성동구     6     6     6          0          0          0
16  서울특별시   성북구    10    10    12          0          2          2
17  서울특별시   송파구    12    12    12          0          0          0
18  서울특별시   양천구     6     9     9          3          0          3
19  서울특별시  영등포구     5     5     5          0          0          0
20  서울특별시   용산구     4     4     4          0          0          0
21  서울특별시   은평구     6     7     8          1          1          2
22  서울특별시   종로구     6     7     7          1          0          1
23  서울특별시    중구     5     5     5          0          0          0
24  서울특별시   중랑구     3     4     5          1          1          2

In [34]:
sum_row = lib_years_info.sum()
new_row = pd.DataFrame([sum_row], columns=lib_years_info.columns)
lib_years_info = pd.concat([lib_years_info, new_row], ignore_index=True)

In [35]:
lib_years_info

,시도,시군구,2017,2018,2019,2017~2018,2018~2019,2017~2019
0,서울특별시,강남구,12,13,13,1,0,1
1,서울특별시,강동구,8,8,8,0,0,0
2,서울특별시,강북구,7,7,7,0,0,0
3,서울특별시,강서구,9,9,9,0,0,0
4,서울특별시,관악구,5,5,5,0,0,0
5,서울특별시,광진구,4,4,4,0,0,0
6,서울특별시,구로구,10,10,11,0,1,1
7,서울특별시,금천구,4,4,4,0,0,0
8,서울특별시,노원구,6,8,8,2,0,2
9,서울특별시,도봉구,6,6,7,0,1,1
10,서울특별시,동대문구,4,4,5,0,1,1
11,서울특별시,동작구,4,5,5,1,0,1
12,서울특별시,마포구,5,5,5,0,0,0
13,서울특별시,서대문구,4,4,4,0,0,0
14,서울특별시,서초구,4,6,7,2,1,3
15,서울특별시,성동구,6,6,6,0,0,0
16,서울특별시,성북구,10,10,12,0,2,2
17,서울특별시,송파구,12,12,12,0,0,0
18,서울특별시,양천구,6,9,9,3,0,3
19,서울특별시,영등포구,5,5,5,0,0,0
20,서울특별시,용산구,4,4,4,0,0,0
21,서울특별시,은평구,6,7,8,1,1,2
22,서울특별시,종로구,6,7,7,1,0,1
23,서울특별시,중구,5,5,5,0,0,0
24,서울특별시,중랑구,3,4,5,1,1,2
25,서울특별시서울특별시서울특별시서울특별시서울특별시서울특별시서울특별시서울특별시서울특별시서...,강남구강동구강북구강서구관악구광진구구로구금천구노원구도봉구동대문구동작구마포구서대문구서초...,155,167,175,12,8,20

In [36]:
lib_years_info.at[25, '시도'] = '서울특별시'
lib_years_info.at[25, '시군구'] = '자치구'

In [37]:
lib_years_info

       시도   시군구  2017  2018  2019  2017~2018  2018~2019  2017~2019
0   서울특별시   강남구    12    13    13          1          0          1
1   서울특별시   강동구     8     8     8          0          0          0
2   서울특별시   강북구     7     7     7          0          0          0
3   서울특별시   강서구     9     9     9          0          0          0
4   서울특별시   관악구     5     5     5          0          0          0
5   서울특별시   광진구     4     4     4          0          0          0
6   서울특별시   구로구    10    10    11          0          1          1
7   서울특별시   금천구     4     4     4          0          0          0
8   서울특별시   노원구     6     8     8          2          0          2
9   서울특별시   도봉구     6     6     7          0          1          1
10  서울특별시  동대문구     4     4     5          0          1          1
11  서울특별시   동작구     4     5     5          1          0          1
12  서울특별시   마포구     5     5     5          0          0          0
13  서울특별시  서대문구     4     4     4          0          0          0
14  서울특별시   서초구     4     6     7          2          1          3
15  서울특별시   성동구     6     6     6          0          0          0
16  서울특별시   성북구    10    10    12          0          2          2
17  서울특별시   송파구    12    12    12          0          0          0
18  서울특별시   양천구     6     9     9          3          0          3
19  서울특별시  영등포구     5     5     5          0          0          0
20  서울특별시   용산구     4     4     4          0          0          0
21  서울특별시   은평구     6     7     8          1          1          2
22  서울특별시   종로구     6     7     7          1          0          1
23  서울특별시    중구     5     5     5          0          0          0
24  서울특별시   중랑구     3     4     5          1          1          2
25  서울특별시   자치구   155   167   175         12          8         20

In [38]:
# 데이터 저장
lib_2017_total.to_excel('../data/공공도서관_구별_개수_2017.xlsx')
lib_2018_total.to_excel('../data/공공도서관_구별_개수_2018.xlsx')
lib_2019_total.to_excel('../data/공공도서관_구별_개수_2019.xlsx')
lib_years_info.to_excel('../data/공공도서관_구별_개수_total.xlsx')