In [1]:
import pandas as pd
import numpy as np
import glob
import matplotlib as mat
import matplotlib.pyplot as plt
import seaborn as sns
import xlrd
import platform
import json
import googlemaps
import folium
from matplotlib import font_manager , rc
f_path = "/Library/Fonts/Arial Unicode.ttf"
font_name = font_manager.FontProperties(fname=f_path).get_name()
rc('font', family=font_name)

In [2]:
crime = pd.read_excel('../data/서울시 범죄건수.xlsx')
crime = crime[['자치구별(2)', '2017', '2018', '2019']]
crime.rename(columns = {'자치구별(2)' : '시군구'}, inplace = True) # 이름 변경

/Users/jeongjinseo/Desktop/myweedsgroweveryday/playdata/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
pop = pd.read_excel('../data/주민등록인구_20230711160850.xlsx')
pop = pop[['동별(2)', '2017', '2018', '2019']]

/Users/jeongjinseo/Desktop/myweedsgroweveryday/playdata/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
pop = pop.drop(range(0, 2)).reset_index(drop = True)
pop['시도'] = '서울특별시'

In [5]:
pop

   동별(2)    2017    2018    2019     시도
0    종로구  164257  163026  161869  서울특별시
1     중구  134593  135633  136488  서울특별시
2    용산구  244444  245090  245185  서울특별시
3    성동구  312711  316463  308979  서울특별시
4    광진구  372298  371063  366972  서울특별시
5   동대문구  366011  364338  363023  서울특별시
6    중랑구  412780  408147  402024  서울특별시
7    성북구  455407  447687  454744  서울특별시
8    강북구  328002  322915  317695  서울특별시
9    도봉구  346234  341649  335631  서울특별시
10   노원구  558075  548160  537303  서울특별시
11   은평구  491202  487666  484546  서울특별시
12  서대문구  325028  323080  323171  서울특별시
13   마포구  385783  386359  385925  서울특별시
14   양천구  475018  468145  462285  서울특별시
15   강서구  608255  603611  598273  서울특별시
16   구로구  441559  438486  439371  서울특별시
17   금천구  253491  254021  251820  서울특별시
18  영등포구  402024  403600  400986  서울특별시
19   동작구  408493  409385  408912  서울특별시
20   관악구  520929  520040  517334  서울특별시
21   서초구  445401  438163  435107  서울특별시
22   강남구  561052  547453  550209  서울특별시
23   송파구  671173  673507  682741  서울특별시
24   강동구  440359  431920  440390  서울특별시

In [6]:
pop = pop.rename(columns = {'동별(2)' : '시군구', '2017' : '2017 인구합계','2018' : '2018 인구합계','2019' : '2019 인구합계'})
pop = pop[['시도', '시군구', '2017 인구합계', '2018 인구합계', '2019 인구합계']]
pop

       시도   시군구 2017 인구합계 2018 인구합계 2019 인구합계
0   서울특별시   종로구    164257    163026    161869
1   서울특별시    중구    134593    135633    136488
2   서울특별시   용산구    244444    245090    245185
3   서울특별시   성동구    312711    316463    308979
4   서울특별시   광진구    372298    371063    366972
5   서울특별시  동대문구    366011    364338    363023
6   서울특별시   중랑구    412780    408147    402024
7   서울특별시   성북구    455407    447687    454744
8   서울특별시   강북구    328002    322915    317695
9   서울특별시   도봉구    346234    341649    335631
10  서울특별시   노원구    558075    548160    537303
11  서울특별시   은평구    491202    487666    484546
12  서울특별시  서대문구    325028    323080    323171
13  서울특별시   마포구    385783    386359    385925
14  서울특별시   양천구    475018    468145    462285
15  서울특별시   강서구    608255    603611    598273
16  서울특별시   구로구    441559    438486    439371
17  서울특별시   금천구    253491    254021    251820
18  서울특별시  영등포구    402024    403600    400986
19  서울특별시   동작구    408493    409385    408912
20  서울특별시   관악구    520929    520040    517334
21  서울특별시   서초구    445401    438163    435107
22  서울특별시   강남구    561052    547453    550209
23  서울특별시   송파구    671173    673507    682741
24  서울특별시   강동구    440359    431920    440390

In [7]:
crime = crime.drop(range(0, 4)).reset_index(drop = True)
crime['시도'] = '서울특별시'
crime

     시군구  2017  2018  2019     시도
0    종로구  4057  3690  3846  서울특별시
1     중구  4184  4030  4327  서울특별시
2    용산구  4060  3411  3313  서울특별시
3    성동구  2767  2457  2512  서울특별시
4    광진구  4646  3915  4011  서울특별시
5   동대문구  3975  3680  3692  서울특별시
6    중랑구  4571  4288  4268  서울특별시
7    성북구  3434  3042  2877  서울특별시
8    강북구  3393  3437  3838  서울특별시
9    도봉구  1999  2249  2110  서울특별시
10   노원구  4209  4007  4153  서울특별시
11   은평구  3883  3590  3880  서울특별시
12  서대문구  3113  2802  2943  서울특별시
13   마포구  5278  5172  4842  서울특별시
14   양천구  3882  3515  3214  서울특별시
15   강서구  5135  4629  4924  서울특별시
16   구로구  4895  4810  4707  서울특별시
17   금천구  3265  3293  3105  서울특별시
18  영등포구  5969  5840  5820  서울특별시
19   동작구  3330  3100  3400  서울특별시
20   관악구  5525  5026  5328  서울특별시
21   서초구  4708  4726  5542  서울특별시
22   강남구  7720  7513  7304  서울특별시
23   송파구  5576  5807  5698  서울특별시
24   강동구  4261  3919  4014  서울특별시

In [8]:
crime = crime[['시도', '시군구', '2017', '2018', '2019']]

In [9]:
crime = crime.rename(columns = {'2017' : '2017 범죄발생합계', '2018' : '2018 범죄발생합계', '2019' : '2019 범죄발생합계'})

In [10]:
crime

       시도   시군구 2017 범죄발생합계 2018 범죄발생합계 2019 범죄발생합계
0   서울특별시   종로구        4057        3690        3846
1   서울특별시    중구        4184        4030        4327
2   서울특별시   용산구        4060        3411        3313
3   서울특별시   성동구        2767        2457        2512
4   서울특별시   광진구        4646        3915        4011
5   서울특별시  동대문구        3975        3680        3692
6   서울특별시   중랑구        4571        4288        4268
7   서울특별시   성북구        3434        3042        2877
8   서울특별시   강북구        3393        3437        3838
9   서울특별시   도봉구        1999        2249        2110
10  서울특별시   노원구        4209        4007        4153
11  서울특별시   은평구        3883        3590        3880
12  서울특별시  서대문구        3113        2802        2943
13  서울특별시   마포구        5278        5172        4842
14  서울특별시   양천구        3882        3515        3214
15  서울특별시   강서구        5135        4629        4924
16  서울특별시   구로구        4895        4810        4707
17  서울특별시   금천구        3265        3293        3105
18  서울특별시  영등포구        5969        5840        5820
19  서울특별시   동작구        3330        3100        3400
20  서울특별시   관악구        5525        5026        5328
21  서울특별시   서초구        4708        4726        5542
22  서울특별시   강남구        7720        7513        7304
23  서울특별시   송파구        5576        5807        5698
24  서울특별시   강동구        4261        3919        4014

In [11]:
pop_crime = crime.merge(pop, on = '시군구', how = 'outer')
pop_crime = pop_crime.drop(['시도_y'], axis = 1)

In [12]:
pop_crime = pop_crime.rename(columns = {'시도_x' : '시도'})

In [13]:
pop_crime = pop_crime.sort_values(by = '시군구').reset_index(drop = True)

In [14]:
pop_crime.to_excel('../data/서울시_구별_범죄발생_인구수.xlsx')