In [1]:
import pandas as pd
import numpy as np
import glob
import matplotlib as mat
import matplotlib.pyplot as plt
import seaborn as sns
import xlrd
import platform
import json
import googlemaps
import folium
from matplotlib import font_manager , rc
f_path = "/Library/Fonts/Arial Unicode.ttf"
font_name = font_manager.FontProperties(fname=f_path).get_name()
rc('font', family=font_name)

In [23]:
theater_branded_2017 = pd.read_excel('../data/극장_구별_주소_2017.xlsx', index_col = 0)
theater_2017 = pd.read_excel('../data/극장_공연장_구별_주소_2017_중복제거.xlsx', index_col = 0)

In [24]:
theater_branded_2018 = pd.read_excel('../data/극장_구별_주소_2018.xlsx', index_col = 0)
theater_2018 = pd.read_excel('../data/극장_공연장_구별_주소_2018_중복제거.xlsx', index_col = 0)

In [25]:
theater_branded_2019 = pd.read_excel('../data/극장_구별_주소_2019.xlsx', index_col = 0)
theater_2019 = pd.read_excel('../data/극장_공연장_구별_주소_2019_중복제거.xlsx', index_col = 0)

In [26]:
theater_all_2017 = pd.concat([theater_branded_2017, theater_2017], ignore_index=True)

In [28]:
theater_all_2018 = pd.concat([theater_branded_2018, theater_2018], ignore_index=True)

In [29]:
theater_all_2019 = pd.concat([theater_branded_2019, theater_2019], ignore_index=True)

In [27]:
theater_all_2017

,시도,시군구,사업장명,인허가일자,폐업일자,지번주소,lat,lon
0,서울특별시,강남구,클래식시네마스페이스(주),1999-04-03,2020-01-01,서울특별시 강남구 논현동 1-3번지,37.516257,127.020619
1,서울특별시,강남구,메가박스 씨티(강남대로)2관,1994-09-05,2020-01-01,서울특별시 강남구 역삼동 816,37.500375,127.026916
2,서울특별시,강남구,CGV 강남제3관,2007-02-08,2020-01-01,서울특별시 강남구 역삼동 814-6 스타플렉스 8층,37.501652,127.026375
3,서울특별시,강남구,CGV 강남제2관,2007-02-08,2020-01-01,서울특별시 강남구 역삼동 814-6 스타플렉스 6층,37.501652,127.026375
4,서울특별시,강남구,CGV 강남제6관,2007-02-08,2020-01-01,서울특별시 강남구 역삼동 814-6 스타플렉스 10층,37.501652,127.026375
...,...,...,...,...,...,...,...,...
897,서울특별시,중구,조선일보사,1995-09-21,2022-01-01,서울특별시 중구 태평로1가 61번지,37.568259,126.975881
898,서울특별시,중구,코리아극장2관,1995-07-14,2022-01-01,서울특별시 중구 명동2가 50-13번지,37.563581,126.983966
899,서울특별시,중구,국단충우,1990-05-24,2022-01-01,서울특별시 중구 충무로3가 51-2번지 해봉빌딩 503호,37.561890,126.992623
900,서울특별시,중구,비쥬얼뮤직,1996-03-04,2022-01-01,서울특별시 중구 충무로2가 49-11번지,37.562474,126.989728
901,서울특별시,중랑구,상봉시네마 1관,2002-04-04,2022-01-01,서울특별시 중랑구 상봉동 92-2번지,37.596822,127.088943

In [30]:
theater_all_2018

,시도,시군구,사업장명,인허가일자,폐업일자,지번주소,lat,lon
0,서울특별시,강남구,클래식시네마스페이스(주),1999-04-03,2020-01-01,서울특별시 강남구 논현동 1-3번지,37.516257,127.020619
1,서울특별시,강남구,메가박스 씨티(강남대로)2관,1994-09-05,2020-01-01,서울특별시 강남구 역삼동 816,37.500375,127.026916
2,서울특별시,강남구,CGV 강남제3관,2007-02-08,2020-01-01,서울특별시 강남구 역삼동 814-6 스타플렉스 8층,37.501652,127.026375
3,서울특별시,강남구,CGV 강남제2관,2007-02-08,2020-01-01,서울특별시 강남구 역삼동 814-6 스타플렉스 6층,37.501652,127.026375
4,서울특별시,강남구,CGV 강남제6관,2007-02-08,2020-01-01,서울특별시 강남구 역삼동 814-6 스타플렉스 10층,37.501652,127.026375
...,...,...,...,...,...,...,...,...
928,서울특별시,중구,한국쇼팽협회,1990-10-25,2022-01-01,서울특별시 중구 신당동 346-464번지,37.553519,127.014842
929,서울특별시,중구,달란트오페라단,1996-08-27,2022-01-01,서울특별시 중구 충무로5가 84-1번지,37.561430,126.997921
930,서울특별시,중구,서울앙상불,1996-06-19,2022-01-01,서울특별시 중구 필동2가 105-12번지,37.558059,126.995829
931,서울특별시,중랑구,상봉시네마 1관,2002-04-04,2022-01-01,서울특별시 중랑구 상봉동 92-2번지,37.596822,127.088943
932,서울특별시,중랑구,중랑구민회관 소공연장,2018-05-01,2022-01-01,서울특별시 중랑구 면목동 378-4번지 중랑구민회관,37.573889,127.085000

In [32]:
theater_all_2019

,시도,시군구,사업장명,인허가일자,폐업일자,지번주소,lat,lon
0,서울특별시,강남구,클래식시네마스페이스(주),1999-04-03,2020-01-01,서울특별시 강남구 논현동 1-3번지,37.516257,127.020619
1,서울특별시,강남구,메가박스 씨티(강남대로)2관,1994-09-05,2020-01-01,서울특별시 강남구 역삼동 816,37.500375,127.026916
2,서울특별시,강남구,CGV 강남제3관,2007-02-08,2020-01-01,서울특별시 강남구 역삼동 814-6 스타플렉스 8층,37.501652,127.026375
3,서울특별시,강남구,CGV 강남제2관,2007-02-08,2020-01-01,서울특별시 강남구 역삼동 814-6 스타플렉스 6층,37.501652,127.026375
4,서울특별시,강남구,CGV 강남제6관,2007-02-08,2020-01-01,서울특별시 강남구 역삼동 814-6 스타플렉스 10층,37.501652,127.026375
...,...,...,...,...,...,...,...,...
958,서울특별시,중구,최종순가무단,1991-05-22,2022-01-01,서울특별시 중구 을지로5가 19-29번지,37.567411,127.001866
959,서울특별시,중구,김한수가무단,1991-05-30,2022-01-01,서울특별시 중구 만리동2가 199-128번지,37.554626,126.963957
960,서울특별시,중구,다물놀이 문화기획,1991-07-04,2022-01-01,서울특별시 중구 신당동 369-51번지 덕수빌딩 505호,37.555279,127.011410
961,서울특별시,중랑구,상봉시네마 1관,2002-04-04,2022-01-01,서울특별시 중랑구 상봉동 92-2번지,37.596822,127.088943
962,서울특별시,중랑구,중랑구민회관 소공연장,2018-05-01,2022-01-01,서울특별시 중랑구 면목동 378-4번지 중랑구민회관,37.573889,127.085000

In [33]:
theater_all_2017.to_excel('../data/극장_통합_주소_2017.xlsx')
theater_all_2018.to_excel('../data/극장_통합_주소_2018.xlsx')
theater_all_2019.to_excel('../data/극장_통합_주소_2019.xlsx')

In [36]:
theater_all_2017_total = theater_branded_2017.groupby('시군구').agg('count')
theater_all_2018_total = theater_branded_2018.groupby('시군구').agg('count')
theater_all_2019_total = theater_branded_2019.groupby('시군구').agg('count')

In [38]:
theater_all_2017_total = theater_all_2017_total[['사업장명']] # 나머지 컬럼 drop
theater_all_2017_total.rename(columns = {'사업장명' : '2017'}, inplace = True) # 이름 변경
theater_all_2018_total = theater_all_2018_total[['사업장명']] # 나머지 컬럼 drop
theater_all_2018_total.rename(columns = {'사업장명' : '2018'}, inplace = True) # 이름 변경
theater_all_2019_total = theater_all_2019_total[['사업장명']] # 나머지 컬럼 drop
theater_all_2019_total.rename(columns = {'사업장명' : '2019'}, inplace = True) # 이름 변경

/var/folders/ws/rg3rkjcs5tg14k5wwmjkqvyc0000gn/T/ipykernel_4142/1199533403.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  theater_all_2017_total.rename(columns = {'사업장명' : '2017'}, inplace = True) # 이름 변경

In [40]:
theater_all_2017_total.reset_index(inplace = True) # 인덱스 초기화
theater_all_2018_total.reset_index(inplace = True)
theater_all_2019_total.reset_index(inplace = True)

In [41]:
theater_all_2017_total.insert(0, '시도', '서울특별시') # 태블로 사용을 위한 시도 컬럼 추가
theater_all_2018_total.insert(0, '시도', '서울특별시')
theater_all_2019_total.insert(0, '시도', '서울특별시')

In [43]:
theater_years_info = theater_all_2017_total.merge(theater_all_2018_total, on = '시군구', how='inner').merge(theater_all_2019_total, on = '시군구', how = 'inner')
theater_years_info = theater_years_info[['시도', '시군구', '2017', '2018', '2019']]
theater_years_info

       시도   시군구  2017  2018  2019
0   서울특별시   강남구    25    26    26
1   서울특별시   강동구     3     3     3
2   서울특별시   강북구     6     6     6
3   서울특별시   강서구     5     4     5
4   서울특별시   관악구     3     3     3
5   서울특별시   광진구     4     5     5
6   서울특별시   구로구     5     5     5
7   서울특별시   금천구     2     2     2
8   서울특별시   노원구     5     6     6
9   서울특별시   도봉구     2     2     2
10  서울특별시  동대문구     2     2     2
11  서울특별시   동작구     2     2     2
12  서울특별시   마포구     6     5     6
13  서울특별시  서대문구     6     7     7
14  서울특별시   서초구     2     2     2
15  서울특별시   성동구     1     1     2
16  서울특별시   성북구     6     5     4
17  서울특별시   송파구     5     5     5
18  서울특별시   양천구     2     2     2
19  서울특별시  영등포구     7     7     7
20  서울특별시   용산구     4     4     4
21  서울특별시   은평구     5     5     5
22  서울특별시   종로구    12    13    13
23  서울특별시    중구    19    18    18
24  서울특별시   중랑구     2     2     2

In [48]:
theater_years_info['2017~2018'] = (theater_years_info['2017'] - theater_years_info['2018']) * -1
theater_years_info['2018~2019'] = (theater_years_info['2018'] - theater_years_info['2019']) * -1
theater_years_info['2017~2019'] = (theater_years_info['2017'] - theater_years_info['2019']) * -1

In [50]:
theater_years_info

       시도   시군구  2017  2018  2019  2017~2018  2018~2019  2017~2019
0   서울특별시   강남구    25    26    26          1          0          1
1   서울특별시   강동구     3     3     3          0          0          0
2   서울특별시   강북구     6     6     6          0          0          0
3   서울특별시   강서구     5     4     5         -1          1          0
4   서울특별시   관악구     3     3     3          0          0          0
5   서울특별시   광진구     4     5     5          1          0          1
6   서울특별시   구로구     5     5     5          0          0          0
7   서울특별시   금천구     2     2     2          0          0          0
8   서울특별시   노원구     5     6     6          1          0          1
9   서울특별시   도봉구     2     2     2          0          0          0
10  서울특별시  동대문구     2     2     2          0          0          0
11  서울특별시   동작구     2     2     2          0          0          0
12  서울특별시   마포구     6     5     6         -1          1          0
13  서울특별시  서대문구     6     7     7          1          0          1
14  서울특별시   서초구     2     2     2          0          0          0
15  서울특별시   성동구     1     1     2          0          1          1
16  서울특별시   성북구     6     5     4         -1         -1         -2
17  서울특별시   송파구     5     5     5          0          0          0
18  서울특별시   양천구     2     2     2          0          0          0
19  서울특별시  영등포구     7     7     7          0          0          0
20  서울특별시   용산구     4     4     4          0          0          0
21  서울특별시   은평구     5     5     5          0          0          0
22  서울특별시   종로구    12    13    13          1          0          1
23  서울특별시    중구    19    18    18         -1          0         -1
24  서울특별시   중랑구     2     2     2          0          0          0

In [53]:
theater_all_2017_total.to_excel('../data/극장_통합_구별_개수_2017.xlsx')
theater_all_2018_total.to_excel('../data/극장_통합_구별_개수_2018.xlsx')
theater_all_2019_total.to_excel('../data/극장_통합_구별_개수_2019.xlsx')

theater_years_info.to_excel('../data/극장_통합_구별_개수_total.xlsx')