In [1]:
import pandas as pd
import numpy as np
import glob
import matplotlib as mat
import matplotlib.pyplot as plt
import seaborn as sns
import xlrd
import platform
import json
import googlemaps
import folium
from matplotlib import font_manager , rc
f_path = "/Library/Fonts/Arial Unicode.ttf"
font_name = font_manager.FontProperties(fname=f_path).get_name()
rc('font', family=font_name)

In [2]:
theater_branded_2017 = pd.read_excel('../data/극장_구별_주소_2017.xlsx', index_col = 0)
theater_2017 = pd.read_excel('../data/극장_공연장_구별_주소_2017_중복제거.xlsx', index_col = 0)

In [3]:
theater_branded_2018 = pd.read_excel('../data/극장_구별_주소_2018.xlsx', index_col = 0)
theater_2018 = pd.read_excel('../data/극장_공연장_구별_주소_2018_중복제거.xlsx', index_col = 0)

In [4]:
theater_branded_2019 = pd.read_excel('../data/극장_구별_주소_2019.xlsx', index_col = 0)
theater_2019 = pd.read_excel('../data/극장_공연장_구별_주소_2019_중복제거.xlsx', index_col = 0)

In [5]:
theater_all_2017 = pd.concat([theater_branded_2017, theater_2017], ignore_index=True)

In [6]:
theater_all_2018 = pd.concat([theater_branded_2018, theater_2018], ignore_index=True)

In [7]:
theater_all_2019 = pd.concat([theater_branded_2019, theater_2019], ignore_index=True)

In [8]:
theater_all_2017

,시도,시군구,사업장명,인허가일자,폐업일자,지번주소,lat,lon
0,서울특별시,강남구,동아극장 1관,1983-06-04,2020-01-01,서울특별시 강남구 역삼동 814-6번지,37.501652,127.026375
1,서울특별시,강남구,코엑스 소상영관 A,2015-10-30,2020-01-01,서울특별시 강남구 삼성동 159,37.512521,127.058819
2,서울특별시,강남구,이봄씨어터,2014-09-29,2020-01-01,서울특별시 강남구 신사동 532-1 지하2층,37.523006,127.022019
3,서울특별시,강남구,롯데시네마 브로드웨이 6관,2007-11-02,2020-01-01,서울특별시 강남구 논현동 3번지 외2필지,37.516539,127.021559
4,서울특별시,강남구,씨네 드 쉐프 A관,2007-05-04,2020-01-01,서울특별시 강남구 신사동 602,37.524342,127.029411
...,...,...,...,...,...,...,...,...
867,서울특별시,중구,조선일보사,1995-09-21,2022-01-01,서울특별시 중구 태평로1가 61번지,37.568259,126.975881
868,서울특별시,중구,코리아극장2관,1995-07-14,2022-01-01,서울특별시 중구 명동2가 50-13번지,37.563581,126.983966
869,서울특별시,중구,국단충우,1990-05-24,2022-01-01,서울특별시 중구 충무로3가 51-2번지 해봉빌딩 503호,37.561890,126.992623
870,서울특별시,중구,비쥬얼뮤직,1996-03-04,2022-01-01,서울특별시 중구 충무로2가 49-11번지,37.562474,126.989728
871,서울특별시,중랑구,상봉시네마 1관,2002-04-04,2022-01-01,서울특별시 중랑구 상봉동 92-2번지,37.596822,127.088943

In [9]:
theater_all_2018

,시도,시군구,사업장명,인허가일자,폐업일자,지번주소,lat,lon
0,서울특별시,강남구,동아극장 1관,1983-06-04,2020-01-01,서울특별시 강남구 역삼동 814-6번지,37.501652,127.026375
1,서울특별시,강남구,씨네시티3관,2003-12-30,2020-01-01,서울특별시 강남구 신사동 651-21번지,37.522895,127.037049
2,서울특별시,강남구,롯데시네마 브로드웨이 1관,2002-07-02,2020-01-01,서울특별시 강남구 논현동 3-5번지 2층,37.516446,127.021938
3,서울특별시,강남구,주공공이 1관,2002-04-25,2020-01-01,서울특별시 강남구 역삼동 814-6번지,37.501652,127.026375
4,서울특별시,강남구,CGV 청담씨네시티 CINEMA SWEETBOX PREMIUM 관,2002-01-23,2020-01-01,서울특별시 강남구 신사동 651-21,37.522895,127.037049
...,...,...,...,...,...,...,...,...
899,서울특별시,중구,한국쇼팽협회,1990-10-25,2022-01-01,서울특별시 중구 신당동 346-464번지,37.553519,127.014842
900,서울특별시,중구,달란트오페라단,1996-08-27,2022-01-01,서울특별시 중구 충무로5가 84-1번지,37.561430,126.997921
901,서울특별시,중구,서울앙상불,1996-06-19,2022-01-01,서울특별시 중구 필동2가 105-12번지,37.558059,126.995829
902,서울특별시,중랑구,상봉시네마 1관,2002-04-04,2022-01-01,서울특별시 중랑구 상봉동 92-2번지,37.596822,127.088943
903,서울특별시,중랑구,중랑구민회관 소공연장,2018-05-01,2022-01-01,서울특별시 중랑구 면목동 378-4번지 중랑구민회관,37.573889,127.085000

In [10]:
theater_all_2019

,시도,시군구,사업장명,인허가일자,폐업일자,지번주소,lat,lon
0,서울특별시,강남구,동아극장 1관,1983-06-04,2020-01-01,서울특별시 강남구 역삼동 814-6번지,37.501652,127.026375
1,서울특별시,강남구,CGV압구정 제4관,2006-07-04,2020-01-01,서울특별시 강남구 신사동 602,37.524342,127.029411
2,서울특별시,강남구,이봄씨어터,2014-09-29,2020-01-01,서울특별시 강남구 신사동 532-1 지하2층,37.523006,127.022019
3,서울특별시,강남구,코엑스 소상영관 A,2015-10-30,2020-01-01,서울특별시 강남구 삼성동 159,37.512521,127.058819
4,서울특별시,강남구,씨네시티3관,2003-12-30,2020-01-01,서울특별시 강남구 신사동 651-21번지,37.522895,127.037049
...,...,...,...,...,...,...,...,...
930,서울특별시,중구,최종순가무단,1991-05-22,2022-01-01,서울특별시 중구 을지로5가 19-29번지,37.567411,127.001866
931,서울특별시,중구,김한수가무단,1991-05-30,2022-01-01,서울특별시 중구 만리동2가 199-128번지,37.554626,126.963957
932,서울특별시,중구,다물놀이 문화기획,1991-07-04,2022-01-01,서울특별시 중구 신당동 369-51번지 덕수빌딩 505호,37.555279,127.011410
933,서울특별시,중랑구,상봉시네마 1관,2002-04-04,2022-01-01,서울특별시 중랑구 상봉동 92-2번지,37.596822,127.088943
934,서울특별시,중랑구,중랑구민회관 소공연장,2018-05-01,2022-01-01,서울특별시 중랑구 면목동 378-4번지 중랑구민회관,37.573889,127.085000

In [12]:
theater_all_2017.to_excel('../data/극장_통합_주소_2017.xlsx')
theater_all_2018.to_excel('../data/극장_통합_주소_2018.xlsx')
theater_all_2019.to_excel('../data/극장_통합_주소_2019.xlsx')

In [31]:
theater_all_2017_total = theater_all_2017.groupby('시군구').agg('count')
theater_all_2018_total = theater_all_2018.groupby('시군구').agg('count')
theater_all_2019_total = theater_all_2019.groupby('시군구').agg('count')

In [34]:
theater_all_2017_total

       시도  사업장명  인허가일자  폐업일자  지번주소  lat  lon
시군구
강남구    48    48     48    48    48   48   48
강동구    16    16     16    16    16   16   16
강북구     5     5      5     5     5    5    5
강서구     6     6      6     6     6    6    6
관악구     2     2      2     2     2    2    2
광진구    17    17     17    17    17   17   17
구로구    10    10     10    10    10   10   10
금천구     8     8      8     8     8    8    8
노원구    10    10     10    10    10   10   10
도봉구     6     6      6     6     6    6    6
동대문구    8     8      8     8     8    8    8
동작구    87    87     87    87    87   87   87
마포구    30    30     30    30    30   30   30
서대문구   11    11     11    11    11   11   11
서초구    26    26     26    26    26   26   26
성동구     8     8      8     8     8    8    8
성북구     9     9      9     9     9    9    9
송파구     9     9      9     9     9    9    9
양천구     5     5      5     5     5    5    5
영등포구   21    21     21    21    21   21   21
용산구    14    14     14    14    14   14   14
은평구   195   195    195   195   195  195  195
종로구   102   102    102   102   102  102  102
중구    216   216    216   216   216  216  216
중랑구     3     3      3     3     3    3    3

In [35]:
theater_all_2017_total = theater_all_2017_total[['사업장명']] # 나머지 컬럼 drop
theater_all_2017_total.rename(columns = {'사업장명' : '2017'}, inplace = True) # 이름 변경
theater_all_2018_total = theater_all_2018_total[['사업장명']] # 나머지 컬럼 drop
theater_all_2018_total.rename(columns = {'사업장명' : '2018'}, inplace = True) # 이름 변경
theater_all_2019_total = theater_all_2019_total[['사업장명']] # 나머지 컬럼 drop
theater_all_2019_total.rename(columns = {'사업장명' : '2019'}, inplace = True) # 이름 변경

/var/folders/ws/rg3rkjcs5tg14k5wwmjkqvyc0000gn/T/ipykernel_6466/1199533403.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  theater_all_2017_total.rename(columns = {'사업장명' : '2017'}, inplace = True) # 이름 변경

In [36]:
theater_all_2017_total.reset_index(inplace = True) # 인덱스 초기화
theater_all_2018_total.reset_index(inplace = True)
theater_all_2019_total.reset_index(inplace = True)

In [37]:
theater_all_2017_total.insert(0, '시도', '서울특별시') # 태블로 사용을 위한 시도 컬럼 추가
theater_all_2018_total.insert(0, '시도', '서울특별시')
theater_all_2019_total.insert(0, '시도', '서울특별시')

In [38]:
theater_years_info = theater_all_2017_total.merge(theater_all_2018_total, on = '시군구', how='inner').merge(theater_all_2019_total, on = '시군구', how = 'inner')
theater_years_info = theater_years_info[['시도', '시군구', '2017', '2018', '2019']]
theater_years_info

       시도   시군구  2017  2018  2019
0   서울특별시   강남구    48    54    56
1   서울특별시   강동구    16    16    16
2   서울특별시   강북구     5     6     6
3   서울특별시   강서구     6     5     6
4   서울특별시   관악구     2     2     2
5   서울특별시   광진구    17    18    18
6   서울특별시   구로구    10    10    12
7   서울특별시   금천구     8     8     8
8   서울특별시   노원구    10    11    11
9   서울특별시   도봉구     6     6     7
10  서울특별시  동대문구     8     8     8
11  서울특별시   동작구    87    87    87
12  서울특별시   마포구    30    31    34
13  서울특별시  서대문구    11    17    17
14  서울특별시   서초구    26    27    29
15  서울특별시   성동구     8     9    11
16  서울특별시   성북구     9     9    11
17  서울특별시   송파구     9    10    12
18  서울특별시   양천구     5     5     6
19  서울특별시  영등포구    21    23    23
20  서울특별시   용산구    14    15    19
21  서울특별시   은평구   195   195   195
22  서울특별시   종로구   102   112   120
23  서울특별시    중구   216   216   217
24  서울특별시   중랑구     3     4     4

In [39]:
theater_years_info['2017~2018'] = (theater_years_info['2017'] - theater_years_info['2018']) * -1
theater_years_info['2018~2019'] = (theater_years_info['2018'] - theater_years_info['2019']) * -1
theater_years_info['2017~2019'] = (theater_years_info['2017'] - theater_years_info['2019']) * -1

In [40]:
theater_years_info

       시도   시군구  2017  2018  2019  2017~2018  2018~2019  2017~2019
0   서울특별시   강남구    48    54    56          6          2          8
1   서울특별시   강동구    16    16    16          0          0          0
2   서울특별시   강북구     5     6     6          1          0          1
3   서울특별시   강서구     6     5     6         -1          1          0
4   서울특별시   관악구     2     2     2          0          0          0
5   서울특별시   광진구    17    18    18          1          0          1
6   서울특별시   구로구    10    10    12          0          2          2
7   서울특별시   금천구     8     8     8          0          0          0
8   서울특별시   노원구    10    11    11          1          0          1
9   서울특별시   도봉구     6     6     7          0          1          1
10  서울특별시  동대문구     8     8     8          0          0          0
11  서울특별시   동작구    87    87    87          0          0          0
12  서울특별시   마포구    30    31    34          1          3          4
13  서울특별시  서대문구    11    17    17          6          0          6
14  서울특별시   서초구    26    27    29          1          2          3
15  서울특별시   성동구     8     9    11          1          2          3
16  서울특별시   성북구     9     9    11          0          2          2
17  서울특별시   송파구     9    10    12          1          2          3
18  서울특별시   양천구     5     5     6          0          1          1
19  서울특별시  영등포구    21    23    23          2          0          2
20  서울특별시   용산구    14    15    19          1          4          5
21  서울특별시   은평구   195   195   195          0          0          0
22  서울특별시   종로구   102   112   120         10          8         18
23  서울특별시    중구   216   216   217          0          1          1
24  서울특별시   중랑구     3     4     4          1          0          1

In [41]:
theater_all_2017_total.to_excel('../data/극장_통합_구별_개수_2017.xlsx')
theater_all_2018_total.to_excel('../data/극장_통합_구별_개수_2018.xlsx')
theater_all_2019_total.to_excel('../data/극장_통합_구별_개수_2019.xlsx')

theater_years_info.to_excel('../data/극장_통합_구별_개수_total.xlsx')