In [1]:
import pandas as pd
import numpy as np
import glob
import matplotlib as mat
import matplotlib.pyplot as plt
import seaborn as sns
import xlrd
import platform
import json
import googlemaps
import folium
from matplotlib import font_manager , rc
f_path = "/Library/Fonts/Arial Unicode.ttf"
font_name = font_manager.FontProperties(fname=f_path).get_name()
rc('font', family=font_name)

In [2]:
gmaps_key = "AIzaSyA4lognWEmzHerB9fu8UZYyEjyEMgRJAws"
gmaps = googlemaps.Client(key=gmaps_key)

# 소극장 등 공연장 시설 전처리

In [3]:
theater = pd.read_csv('../data/서울시 공연장 인허가 정보.csv', encoding = 'cp949')
theater = theater[['인허가일자', '폐업일자', '지번주소', '도로명주소', '사업장명', '좌표정보(X)', '좌표정보(Y)']]
theater

,인허가일자,폐업일자,지번주소,도로명주소,사업장명,좌표정보(X),좌표정보(Y)
0,2009-02-04,NaN,서울특별시 금천구 시흥동 937-2,서울특별시 금천구 시흥대로38길 61 (시흥동),금천문화회관 공연장,191451.869502,438279.797215
1,2007-04-30,NaN,서울특별시 성북구 석관동 산 1-5,서울특별시 성북구 화랑로32길 146-37 (석관동),한국예술종합학교 예술소극장,204863.310848,455720.784852
2,2020-07-29,NaN,서울특별시 서초구 방배동 763-32 가우디빌딩,"서울특별시 서초구 방배중앙로29길 21, 가우디빌딩 5층 (방배동)",클래식라운지 리한,198544.950903,443799.513328
3,2017-11-30,2023-03-20,서울특별시 강남구 역삼동 694-34 역선빌딩,"서울특별시 강남구 선릉로 547, 지하층 (역삼동)",파인트리 시어터,203976.358291,445042.403743
4,2012-12-06,NaN,서울특별시 강동구 성내동 435-9,서울특별시 강동구 성안로 30 (성내동),호원아트홀,211450.632928,447124.978248
...,...,...,...,...,...,...,...
1331,20161111,NaN,서울특별시 종로구 동숭동 1-42 5층,"서울특별시 종로구 동숭길 123, 5층 (동숭동, 드림아트센터)",드림아트센터 4관,200221.159827,453443.564355
1332,20161117,NaN,서울특별시 종로구 동숭동 1-42,"서울특별시 종로구 동숭길 123, 4층 (동숭동, 드림아트센터)",드림아트센터 3관,200221.159827,453443.564355
1333,20200824,20221118,서울특별시 구로구 고척동 76-41 2001아울렛,"서울특별시 구로구 중앙로1길 36, 2001아울렛 6층 (고척동)",구로키즈홀,187785.840458,443997.135870
1334,20220513,NaN,서울특별시 광진구 중곡동 30-80 보건복지행정타운,"서울특별시 광진구 능동로 400, 보건복지행정타운 (중곡동)",광진어린이공연장,207401.825014,451410.234980
1335,2021-07-07,NaN,서울특별시 서대문구 북아현동 1012-2,"서울특별시 서대문구 북아현로 51, 지하1층층 (북아현동)",북아현아트홀,195992.750559,451065.345045

In [4]:
theater.columns

# '인허가일자', '폐업일자', '지번주소', '도로명주소', '사업장명', '좌표정보(X)', '좌표정보(Y)', '지역구분명'

Index(['인허가일자', '폐업일자', '지번주소', '도로명주소', '사업장명', '좌표정보(X)', '좌표정보(Y)'], dtype='object')

# 널값의 컬럼 임의 값으로 채우기

In [5]:
theater['폐업일자'] = theater['폐업일자'].fillna('2022-01-01')
theater['인허가일자'] = theater['인허가일자'].fillna('2016-01-01')

In [6]:
theater

,인허가일자,폐업일자,지번주소,도로명주소,사업장명,좌표정보(X),좌표정보(Y)
0,2009-02-04,2022-01-01,서울특별시 금천구 시흥동 937-2,서울특별시 금천구 시흥대로38길 61 (시흥동),금천문화회관 공연장,191451.869502,438279.797215
1,2007-04-30,2022-01-01,서울특별시 성북구 석관동 산 1-5,서울특별시 성북구 화랑로32길 146-37 (석관동),한국예술종합학교 예술소극장,204863.310848,455720.784852
2,2020-07-29,2022-01-01,서울특별시 서초구 방배동 763-32 가우디빌딩,"서울특별시 서초구 방배중앙로29길 21, 가우디빌딩 5층 (방배동)",클래식라운지 리한,198544.950903,443799.513328
3,2017-11-30,2023-03-20,서울특별시 강남구 역삼동 694-34 역선빌딩,"서울특별시 강남구 선릉로 547, 지하층 (역삼동)",파인트리 시어터,203976.358291,445042.403743
4,2012-12-06,2022-01-01,서울특별시 강동구 성내동 435-9,서울특별시 강동구 성안로 30 (성내동),호원아트홀,211450.632928,447124.978248
...,...,...,...,...,...,...,...
1331,20161111,2022-01-01,서울특별시 종로구 동숭동 1-42 5층,"서울특별시 종로구 동숭길 123, 5층 (동숭동, 드림아트센터)",드림아트센터 4관,200221.159827,453443.564355
1332,20161117,2022-01-01,서울특별시 종로구 동숭동 1-42,"서울특별시 종로구 동숭길 123, 4층 (동숭동, 드림아트센터)",드림아트센터 3관,200221.159827,453443.564355
1333,20200824,20221118,서울특별시 구로구 고척동 76-41 2001아울렛,"서울특별시 구로구 중앙로1길 36, 2001아울렛 6층 (고척동)",구로키즈홀,187785.840458,443997.135870
1334,20220513,2022-01-01,서울특별시 광진구 중곡동 30-80 보건복지행정타운,"서울특별시 광진구 능동로 400, 보건복지행정타운 (중곡동)",광진어린이공연장,207401.825014,451410.234980
1335,2021-07-07,2022-01-01,서울특별시 서대문구 북아현동 1012-2,"서울특별시 서대문구 북아현로 51, 지하1층층 (북아현동)",북아현아트홀,195992.750559,451065.345045

# 중복된 극장 정리

In [7]:
theater = theater.groupby('인허가일자').agg({'지번주소': 'first', '폐업일자': 'first', '사업장명': 'first', '좌표정보(X)' : 'first', '좌표정보(Y)' : 'first' }).reset_index()
theater = theater.drop(459).reset_index()

In [8]:
theater = theater.drop(['index'], axis=1)
theater

,인허가일자,지번주소,폐업일자,사업장명,좌표정보(X),좌표정보(Y)
0,19560421,서울특별시 중구 을지로4가 310-0번지,20000106,(주)국도극장,199603.040707,451543.643423
1,19560618,서울특별시 중구 충무로4가 125번지,20000627,대한극장,199538.324143,451030.247846
2,19600504,서울특별시 동대문구 용두동 10-1번지,19980625,오스카극장,NaN,NaN
3,19601029,서울특별시 강동구 천호동 425-17번지,2022-01-01,천호시네마,NaN,NaN
4,19610801,서울특별시 영등포구 영등포동5가 6-0번지,20001216,영보극장,191747.252214,446393.375935
...,...,...,...,...,...,...
1061,2023-03-22,서울특별시 강서구 등촌동 659 램넌트문화센터,2022-01-01,스카이아트홀,186608.714964,450644.416650
1062,2023-04-19,서울특별시 서초구 서초동 1623-12 블루타워,2022-01-01,IPAC아트홀,201292.840891,442741.789521
1063,2023-04-26,서울특별시 광진구 중곡동 252-12 우인아트홀,2022-01-01,우인아트홀,206642.970468,451165.753464
1064,2023-07-07,서울특별시 종로구 동숭동 1-36,2022-01-01,리차드 하우스,200131.419237,453430.671944
1065,20230120,서울특별시 강남구 삼성동 141-28 동신빌딩,2022-01-01,JADE409(제이드409),204389.263696,444809.650128

# 인허가일자, 폐업일자 datetime으로 변환 후 17~19년도 데이터로 정리
## 인허가일자는 17년 이전 모두 포함

In [9]:
theater['인허가일자'] = pd.to_datetime(theater['인허가일자'], format='%Y-%m-%d', errors='coerce')  # '인허가일자' 열을 datetime 형식으로 변환
theater['폐업일자'] = pd.to_datetime(theater['폐업일자'], format='%Y-%m-%d', errors='coerce')
theater = theater[theater['인허가일자'].dt.year <= 2020]  # 조건을 설정하여 2020년 이전의 행만 남깁니다
theater = theater[theater['폐업일자'].dt.year >= 2020]

In [10]:
theater

,인허가일자,지번주소,폐업일자,사업장명,좌표정보(X),좌표정보(Y)
3,1960-10-29,서울특별시 강동구 천호동 425-17번지,2022-01-01,천호시네마,NaN,NaN
5,1962-04-12,서울특별시 중구 예장동 8-19,2022-01-01,남산드라마센터,198901.065845,450743.174702
6,1962-07-09,서울특별시 중구 초동 41번지,2022-01-01,스카라극장,NaN,NaN
7,1963-07-08,서울특별시 영등포구 영등포동3가 2-0번지,2022-01-01,연흥극장1관,191960.889845,446273.110783
9,1967-03-01,서울특별시 중구 명동2가 50-13번지,2022-01-01,코리아극장1관,198513.745681,451255.781690
...,...,...,...,...,...,...
997,2020-11-02,서울특별시 마포구 서교동 494,2022-01-01,서교스퀘어,192555.052011,449861.955803
998,2020-12-07,서울특별시 강남구 대치동 1008 컬쳐랜드 타워,2022-01-01,씨스퀘어(C-SQUARE),205821.765683,444626.231390
999,2020-12-11,서울특별시 광진구 자양동 497-4 지하1층,2022-01-01,충동소극장,206174.754582,447781.317272
1000,2020-12-15,서울특별시 종로구 동숭동 187-8 NC문화재단,2022-01-01,NC문화재단 Hall,200342.408789,453056.007814
1001,2020-12-23,서울특별시 서초구 서초동 700 예술의전당,2022-01-01,예술의전당 인춘아트홀,201278.647890,442099.753092

# 정리한 데이터프레임에 널값 있는지 확인

In [11]:
# 둘 다 널인 컬럼은 없음
null = theater[['지번주소','인허가일자', '폐업일자' , '좌표정보(X)', '좌표정보(Y)']].isna().all
null()

지번주소       False
인허가일자      False
폐업일자       False
좌표정보(X)    False
좌표정보(Y)    False
dtype: bool

# 인덱싱

In [12]:
theater = theater.reset_index()
theater = theater.drop(['index'], axis = 1)

# 주소 둘 다 널값인 행 드랍

In [14]:
theater = theater.drop(475).reset_index()
theater = theater.drop(477).reset_index()

In [15]:
theater = theater.drop(['level_0', 'index'], axis = 1)
theater

,인허가일자,지번주소,폐업일자,사업장명,좌표정보(X),좌표정보(Y)
0,1960-10-29,서울특별시 강동구 천호동 425-17번지,2022-01-01,천호시네마,NaN,NaN
1,1962-04-12,서울특별시 중구 예장동 8-19,2022-01-01,남산드라마센터,198901.065845,450743.174702
2,1962-07-09,서울특별시 중구 초동 41번지,2022-01-01,스카라극장,NaN,NaN
3,1963-07-08,서울특별시 영등포구 영등포동3가 2-0번지,2022-01-01,연흥극장1관,191960.889845,446273.110783
4,1967-03-01,서울특별시 중구 명동2가 50-13번지,2022-01-01,코리아극장1관,198513.745681,451255.781690
...,...,...,...,...,...,...
845,2020-11-02,서울특별시 마포구 서교동 494,2022-01-01,서교스퀘어,192555.052011,449861.955803
846,2020-12-07,서울특별시 강남구 대치동 1008 컬쳐랜드 타워,2022-01-01,씨스퀘어(C-SQUARE),205821.765683,444626.231390
847,2020-12-11,서울특별시 광진구 자양동 497-4 지하1층,2022-01-01,충동소극장,206174.754582,447781.317272
848,2020-12-15,서울특별시 종로구 동숭동 187-8 NC문화재단,2022-01-01,NC문화재단 Hall,200342.408789,453056.007814
849,2020-12-23,서울특별시 서초구 서초동 700 예술의전당,2022-01-01,예술의전당 인춘아트홀,201278.647890,442099.753092

In [16]:
location_list = theater['지번주소']

location_lat = []
location_lng = []
for name in location_list:
    tmp = gmaps.geocode(name, language='ko')
    
    if tmp:
        tmp_loc = tmp[0].get("geometry")
        if tmp_loc:
            location_lat.append(tmp_loc['location']['lat'])
            location_lng.append(tmp_loc['location']['lng'])
        else:
            # 유효한 결과가 없는 경우 처리
            location_lat.append(None)
            location_lng.append(None)
    else:
        # 결과가 없는 경우 처리
        location_lat.append(None)
        location_lng.append(None)

In [17]:
theater['lat'] = location_lat
theater['lon'] = location_lng

In [19]:
theater = theater.drop(['좌표정보(X)', '좌표정보(Y)'], axis = 1)
theater

,인허가일자,지번주소,폐업일자,사업장명,lat,lon
0,1960-10-29,서울특별시 강동구 천호동 425-17번지,2022-01-01,천호시네마,37.541117,127.126411
1,1962-04-12,서울특별시 중구 예장동 8-19,2022-01-01,남산드라마센터,37.558963,126.988351
2,1962-07-09,서울특별시 중구 초동 41번지,2022-01-01,스카라극장,37.563958,126.993062
3,1963-07-08,서울특별시 영등포구 영등포동3가 2-0번지,2022-01-01,연흥극장1관,37.518653,126.909853
4,1967-03-01,서울특별시 중구 명동2가 50-13번지,2022-01-01,코리아극장1관,37.563581,126.983966
...,...,...,...,...,...,...
845,2020-11-02,서울특별시 마포구 서교동 494,2022-01-01,서교스퀘어,37.550798,126.916722
846,2020-12-07,서울특별시 강남구 대치동 1008 컬쳐랜드 타워,2022-01-01,씨스퀘어(C-SQUARE),37.503771,127.066465
847,2020-12-11,서울특별시 광진구 자양동 497-4 지하1층,2022-01-01,충동소극장,37.532257,127.070648
848,2020-12-15,서울특별시 종로구 동숭동 187-8 NC문화재단,2022-01-01,NC문화재단 Hall,37.579802,127.004664
849,2020-12-23,서울특별시 서초구 서초동 700 예술의전당,2022-01-01,예술의전당 인춘아트홀,37.481086,127.015245

In [20]:
cut_addresses = []
for address in theater['지번주소']:
    cut_address = address.split()  # "서울특별시 중구"까지 슬라이싱
    cut_addresses.append(cut_address[1])


address = pd.Series(cut_addresses)
theater['시군구'] = address
theater['시도'] = '서울특별시'
theater

,인허가일자,지번주소,폐업일자,사업장명,lat,lon,시군구,시도
0,1960-10-29,서울특별시 강동구 천호동 425-17번지,2022-01-01,천호시네마,37.541117,127.126411,강동구,서울특별시
1,1962-04-12,서울특별시 중구 예장동 8-19,2022-01-01,남산드라마센터,37.558963,126.988351,중구,서울특별시
2,1962-07-09,서울특별시 중구 초동 41번지,2022-01-01,스카라극장,37.563958,126.993062,중구,서울특별시
3,1963-07-08,서울특별시 영등포구 영등포동3가 2-0번지,2022-01-01,연흥극장1관,37.518653,126.909853,영등포구,서울특별시
4,1967-03-01,서울특별시 중구 명동2가 50-13번지,2022-01-01,코리아극장1관,37.563581,126.983966,중구,서울특별시
...,...,...,...,...,...,...,...,...
845,2020-11-02,서울특별시 마포구 서교동 494,2022-01-01,서교스퀘어,37.550798,126.916722,마포구,서울특별시
846,2020-12-07,서울특별시 강남구 대치동 1008 컬쳐랜드 타워,2022-01-01,씨스퀘어(C-SQUARE),37.503771,127.066465,강남구,서울특별시
847,2020-12-11,서울특별시 광진구 자양동 497-4 지하1층,2022-01-01,충동소극장,37.532257,127.070648,광진구,서울특별시
848,2020-12-15,서울특별시 종로구 동숭동 187-8 NC문화재단,2022-01-01,NC문화재단 Hall,37.579802,127.004664,종로구,서울특별시
849,2020-12-23,서울특별시 서초구 서초동 700 예술의전당,2022-01-01,예술의전당 인춘아트홀,37.481086,127.015245,서초구,서울특별시

# 년도별로 정리

In [21]:
theater_2017_raw = theater[theater['인허가일자'] < '2018-01-01']
theater_2017_raw = theater_2017_raw[theater_2017_raw['폐업일자'] > '2018-01-01']

theater_2018_raw = theater[theater['인허가일자'] < '2019-01-01']
theater_2018_raw = theater_2018_raw[theater_2018_raw['폐업일자'] > '2019-01-01']

theater_2019_raw = theater[theater['인허가일자'] < '2020-01-01']
theater_2019_raw = theater_2019_raw[theater_2019_raw['폐업일자'] > '2020-01-01']

In [22]:
theater_2017_raw = theater_2017_raw.reset_index()
theater_2017_raw = theater_2017_raw.drop(['index'], axis = 1)
theater_2017_raw

theater_2018_raw = theater_2018_raw.reset_index()
theater_2018_raw = theater_2018_raw.drop(['index'], axis = 1)
theater_2018_raw

theater_2019_raw = theater_2019_raw.reset_index()
theater_2019_raw = theater_2019_raw.drop(['index'], axis = 1)
theater_2019_raw

,인허가일자,지번주소,폐업일자,사업장명,lat,lon,시군구,시도
0,1960-10-29,서울특별시 강동구 천호동 425-17번지,2022-01-01,천호시네마,37.541117,127.126411,강동구,서울특별시
1,1962-04-12,서울특별시 중구 예장동 8-19,2022-01-01,남산드라마센터,37.558963,126.988351,중구,서울특별시
2,1962-07-09,서울특별시 중구 초동 41번지,2022-01-01,스카라극장,37.563958,126.993062,중구,서울특별시
3,1963-07-08,서울특별시 영등포구 영등포동3가 2-0번지,2022-01-01,연흥극장1관,37.518653,126.909853,영등포구,서울특별시
4,1967-03-01,서울특별시 중구 명동2가 50-13번지,2022-01-01,코리아극장1관,37.563581,126.983966,중구,서울특별시
...,...,...,...,...,...,...,...,...
814,2019-12-03,서울특별시 강남구 청담동 86번지,2022-01-01,광야 아트센터,37.523865,127.039619,강남구,서울특별시
815,2019-12-12,서울특별시 용산구 용산동2가 17번지,2022-01-01,세계평화운동 커뮤니티센터 월드피스존,37.545676,126.985450,용산구,서울특별시
816,2019-12-26,서울특별시 중구 을지로1가 63 그레뱅뮤지엄 2층,2020-12-11,그레뱅홀,37.566259,126.980456,중구,서울특별시
817,2019-12-27,서울특별시 송파구 잠실동 10 서울종합운동장,2020-10-16,잠실종합운동장 <위윌락유> 전용 로열씨어터,37.516478,127.072998,송파구,서울특별시
818,2019-12-31,서울특별시 성동구 성수동2가 225-10번지,2022-01-01,성수소극장,37.536674,127.058405,성동구,서울특별시

In [23]:
# 데이터 보기 편하게 정렬
theater_2017_raw = theater_2017_raw.sort_values(by='시군구', key=lambda x: x.str.lower()).reset_index(drop=True)
theater_2018_raw = theater_2018_raw.sort_values(by='시군구').reset_index(drop=True)
theater_2019_raw = theater_2019_raw.sort_values(by='시군구').reset_index(drop=True)

In [24]:
desired_columns = ['시도', '시군구', '사업장명', '인허가일자', '폐업일자', '지번주소', 'lat', 'lon']  # 원하는 순서대로 열 이름을 나열합니다
theater_2017_raw = theater_2017_raw.reindex(columns=desired_columns)

theater_2018_raw = theater_2018_raw.reindex(columns=desired_columns)

theater_2019_raw = theater_2019_raw.reindex(columns=desired_columns)

In [25]:
theater_2018_raw

,시도,시군구,사업장명,인허가일자,폐업일자,지번주소,lat,lon
0,서울특별시,강남구,파인트리 시어터,2017-11-30,2023-03-20,서울특별시 강남구 역삼동 694-34 역선빌딩,37.507559,127.045751
1,서울특별시,강남구,오유아트홀,2010-02-16,2022-01-01,서울특별시 강남구 도곡동 459,37.483733,127.046375
2,서울특별시,강남구,coex 신한카드 artium,2009-06-04,2022-01-01,서울특별시 강남구 삼성동 159-1 트레이드타워,37.510324,127.061023
3,서울특별시,강남구,KB아트홀,2015-09-22,2022-01-01,서울특별시 강남구 역삼동 649-11번지,37.499193,127.030265
4,서울특별시,강남구,오퍼스홀,2010-06-29,2022-01-01,서울특별시 강남구 신사동 566-31번지,37.522781,127.027380
...,...,...,...,...,...,...,...,...
786,서울특별시,중구,한국쇼팽협회,1990-10-25,2022-01-01,서울특별시 중구 신당동 346-464번지,37.553519,127.014842
787,서울특별시,중구,달란트오페라단,1996-08-27,2022-01-01,서울특별시 중구 충무로5가 84-1번지,37.561430,126.997921
788,서울특별시,중구,서울앙상불,1996-06-19,2022-01-01,서울특별시 중구 필동2가 105-12번지,37.558059,126.995829
789,서울특별시,중랑구,상봉시네마 1관,2002-04-04,2022-01-01,서울특별시 중랑구 상봉동 92-2번지,37.596822,127.088943
790,서울특별시,중랑구,중랑구민회관 소공연장,2018-05-01,2022-01-01,서울특별시 중랑구 면목동 378-4번지 중랑구민회관,37.573889,127.085000

In [26]:
print(len(theater_2017_raw))
print(len(theater_2018_raw))
print(len(theater_2019_raw))

761
791
819

In [27]:
theater_2017_raw.to_excel('../data/극장_공연장_구별_주소_2017_중복제거.xlsx')
theater_2018_raw.to_excel('../data/극장_공연장_구별_주소_2018_중복제거.xlsx')
theater_2019_raw.to_excel('../data/극장_공연장_구별_주소_2019_중복제거.xlsx')

# 위는 소극장,공연장 등

# 아래는 브랜드 극장

# cgv, 롯데시네마 등 브랜드 극장 전처리

In [ ]:
theater_branded = pd.read_csv('../data/서울시 영화상영관 인허가 정보.csv', encoding = 'cp949')
theater_branded = theater_branded[['인허가일자', '폐업일자', '지번주소', '도로명주소', '사업장명', '좌표정보(X)', '좌표정보(Y)']]

In [ ]:
len(theater_branded)

900

# 널값 처리

In [ ]:
null = theater_branded[~theater_branded['폐업일자'].isnull()]
null

,인허가일자,폐업일자,지번주소,도로명주소,사업장명,좌표정보(X),좌표정보(Y)
7,2008-01-02,2022-08-03,서울특별시 마포구 동교동 166-6,서울특별시 마포구 양화로 176 (동교동),롯데시네마 홍대입구관 제1관,193330.714127,450564.513156
32,20190125,20221128,서울특별시 강서구 등촌동 639-23 3~9층,"서울특별시 강서구 공항대로45길 63, 3~9층 (등촌동)",CGV 등촌 8관,187210.917774,450631.435498
33,20190125,20221128,서울특별시 강서구 등촌동 639-23 3~9층,"서울특별시 강서구 공항대로45길 63, 3~9층 (등촌동)",CGV 등촌 7관,187210.917774,450631.435498
39,20000224,20030404,서울특별시 양천구 신정동 988-5번지,NaN,킴스시네마(2관),187670.416424,447030.560397
82,19870926,20010315,서울특별시 서대문구 남가좌동 158-11번지 (지층),NaN,모래내비디오소극장,NaN,NaN
...,...,...,...,...,...,...,...
873,20000616,20101101,서울특별시 강동구 성내동 48-1번지,서울특별시 강동구 천호대로 1016 (성내동),한일시네마 5관,210960.413495,448403.019701
874,20080918,20090723,서울특별시 강동구 암사동 501-9번지 반달길 65,"서울특별시 강동구 올림픽로98길 8 (암사동,반달길 65)",암사시네마 1관,211277.491156,449873.290265
875,20080918,20090723,서울특별시 강동구 암사동 501-9번지 반달길 65,"서울특별시 강동구 올림픽로98길 8 (암사동,반달길 65)",암사시네마 2관,211277.491156,449873.290265
876,20080918,20090723,서울특별시 강동구 암사동 501-9번지 반달길 65,"서울특별시 강동구 올림픽로98길 8 (암사동,반달길 65)",암사시네마 4관,211277.491156,449873.290265
877,20080918,20090723,서울특별시 강동구 암사동 501-9번지 반달길 65,"서울특별시 강동구 올림픽로98길 8 (암사동,반달길 65)",암사시네마3관,211277.491156,449873.290265

# datatime 으로 변환 후 17~19년도 데이터로 정리

In [ ]:
theater_branded['인허가일자'] = pd.to_datetime(theater_branded['인허가일자'], format='%Y-%m-%d', errors='coerce')
theater_branded = theater_branded[theater_branded['인허가일자'] < '2020-01-01']


theater_branded['폐업일자'] = pd.to_datetime(theater_branded['폐업일자'], format='%Y-%m-%d', errors='coerce')
theater_branded['폐업일자'] = theater_branded['폐업일자'].fillna('2020-01-01')
theater_branded = theater_branded[theater_branded['폐업일자'] <= '2020-01-01']

# 정리 완료한 데이터 프레임

In [ ]:
theater_branded

,인허가일자,폐업일자,지번주소,도로명주소,사업장명,좌표정보(X),좌표정보(Y)
0,2005-03-22,2020-01-01,서울특별시 중구 남대문로2가 130,"서울특별시 중구 남대문로 73, 6~7층 (남대문로2가, AVENUEL)",롯데시네마 에비뉴엘 <2관>,198333.470885,451313.412912
1,2005-03-22,2020-01-01,서울특별시 중구 남대문로2가 130,"서울특별시 중구 남대문로 73, 6~7층 (남대문로2가, AVENUEL)",롯데시네마 에비뉴엘 <3관>,198333.470885,451313.412912
2,2005-03-22,2020-01-01,서울특별시 중구 남대문로2가 130,"서울특별시 중구 남대문로 73, 6~7층 (남대문로2가, AVENUEL)",롯데시네마 에비뉴엘 샤롯데관,198333.470885,451313.412912
3,2005-03-22,2020-01-01,서울특별시 중구 남대문로2가 130,"서울특별시 중구 남대문로 73, 6~7층 (남대문로2가, AVENUEL)",롯데시네마 에비뉴엘 <1관>,198333.470885,451313.412912
4,2005-03-22,2020-01-01,서울특별시 중구 남대문로2가 130,"서울특별시 중구 남대문로 73, 6~7층 (남대문로2가, AVENUEL)",롯데시네마 에비뉴엘 <5관>,198333.470885,451313.412912
...,...,...,...,...,...,...,...
895,2015-07-06,2020-01-01,서울특별시 강동구 천호동 42,"서울특별시 강동구 양재대로 1571, 4층 (천호동)",CGV 천호 3관,212501.369116,449282.310384
896,2015-07-06,2020-01-01,서울특별시 강동구 천호동 42,"서울특별시 강동구 양재대로 1571, 4층 (천호동)",CGV 천호 4관,212501.369116,449282.310384
897,2015-07-06,2020-01-01,서울특별시 강동구 천호동 42,"서울특별시 강동구 양재대로 1571, 4층 (천호동)",CGV 천호 5관,212501.369116,449282.310384
898,2015-07-06,2020-01-01,서울특별시 강동구 천호동 42,"서울특별시 강동구 양재대로 1571, 4층 (천호동)",CGV 천호 6관,212501.369116,449282.310384
899,2010-08-18,2020-01-01,"서울특별시 동대문구 전농동 591-53 청량리민자역사 8층,9층","서울특별시 동대문구 왕산로 214, 8층,9층 (전농동, 청량리민자역사)",롯데시네마청량리 제1관,204081.282117,453187.395154

# 널값 확인

In [ ]:
# 둘 다 널인 컬럼은 없음
null = theater_branded[['도로명주소', '지번주소','인허가일자', '폐업일자' , '좌표정보(X)', '좌표정보(Y)']].isna().all
null()

도로명주소      False
지번주소       False
인허가일자      False
폐업일자       False
좌표정보(X)    False
좌표정보(Y)    False
dtype: bool

# 인덱싱

In [ ]:
theater_branded = theater_branded.reset_index()
theater_branded = theater_branded.drop(['index'], axis = 1)
theater_branded

,인허가일자,폐업일자,지번주소,도로명주소,사업장명,좌표정보(X),좌표정보(Y)
0,2005-03-22,2020-01-01,서울특별시 중구 남대문로2가 130,"서울특별시 중구 남대문로 73, 6~7층 (남대문로2가, AVENUEL)",롯데시네마 에비뉴엘 <2관>,198333.470885,451313.412912
1,2005-03-22,2020-01-01,서울특별시 중구 남대문로2가 130,"서울특별시 중구 남대문로 73, 6~7층 (남대문로2가, AVENUEL)",롯데시네마 에비뉴엘 <3관>,198333.470885,451313.412912
2,2005-03-22,2020-01-01,서울특별시 중구 남대문로2가 130,"서울특별시 중구 남대문로 73, 6~7층 (남대문로2가, AVENUEL)",롯데시네마 에비뉴엘 샤롯데관,198333.470885,451313.412912
3,2005-03-22,2020-01-01,서울특별시 중구 남대문로2가 130,"서울특별시 중구 남대문로 73, 6~7층 (남대문로2가, AVENUEL)",롯데시네마 에비뉴엘 <1관>,198333.470885,451313.412912
4,2005-03-22,2020-01-01,서울특별시 중구 남대문로2가 130,"서울특별시 중구 남대문로 73, 6~7층 (남대문로2가, AVENUEL)",롯데시네마 에비뉴엘 <5관>,198333.470885,451313.412912
...,...,...,...,...,...,...,...
811,2015-07-06,2020-01-01,서울특별시 강동구 천호동 42,"서울특별시 강동구 양재대로 1571, 4층 (천호동)",CGV 천호 3관,212501.369116,449282.310384
812,2015-07-06,2020-01-01,서울특별시 강동구 천호동 42,"서울특별시 강동구 양재대로 1571, 4층 (천호동)",CGV 천호 4관,212501.369116,449282.310384
813,2015-07-06,2020-01-01,서울특별시 강동구 천호동 42,"서울특별시 강동구 양재대로 1571, 4층 (천호동)",CGV 천호 5관,212501.369116,449282.310384
814,2015-07-06,2020-01-01,서울특별시 강동구 천호동 42,"서울특별시 강동구 양재대로 1571, 4층 (천호동)",CGV 천호 6관,212501.369116,449282.310384
815,2010-08-18,2020-01-01,"서울특별시 동대문구 전농동 591-53 청량리민자역사 8층,9층","서울특별시 동대문구 왕산로 214, 8층,9층 (전농동, 청량리민자역사)",롯데시네마청량리 제1관,204081.282117,453187.395154

# 주소에서 각 구 추출

In [ ]:
cut_addresses = []
for address in theater_branded['지번주소']:
    cut_address = address.split()  # "서울특별시 중구"까지 슬라이싱
    cut_addresses.append(cut_address[1])

cut_addresses

['중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '강북구',
 '강남구',
 '강북구',
 '강북구',
 '강남구',
 '종로구',
 '종로구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '용산구',
 '중랑구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '관악구',
 '관악구',
 '양천구',
 '노원구',
 '노원구',
 '노원구',
 '양천구',
 '양천구',
 '마포구',
 '마포구',
 '강남구',
 '용산구',
 '강남구',
 '마포구',
 '마포구',
 '강남구',
 '노원구',
 '서초구',
 '서초구',
 '양천구',
 '노원구',
 '노원구',
 '중랑구',
 '노원구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '노원구',
 '노원구',
 '노원구',
 '성북구',
 '노원구',
 '노원구',
 '노원구',
 '중랑구',
 '양천구',
 '송파구',
 '노원구',
 '중랑구',
 '중랑구',
 '관악구',
 '서대문구',
 '서대문구',
 '서대문구',
 '관악구',
 '관악구',
 '양천구',
 '중구',
 '양천구',
 '중구',
 '중구',
 '관악구',
 '강남구',
 '영등포구',
 '강남구',
 '영등포구',
 '서초구',
 '영등포구',
 '서초구',
 '서초구',
 '영등포구',
 '마포구',
 '마포구',
 '영등포구',
 '마포구',
 '서초구',
 '영등포구',
 '중랑구',
 '영등포구',
 '양천구',
 '영등포구',
 '종로구',
 '영등포구',
 '영등포구',
 '중구',
 '영등포구',
 '중구',
 '영등포구',
 '중구',
 '영등포구',
 '동작구',
 '강남구',
 '영등포구',
 '동작구',
 '영등포구',
 '동작구',
 '중구',
 '중구',
 '중구',
 '동작구',
 '영등포구',
 '동작구',
 '종로구',
 '종로구',
 '종로구',
 '강남구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '강남구',
 '종로구',
 '송파구',
 '종로구',
 '종로구',
 '종로구',
 '양천구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '마포구',
 '종로구',
 '동작구',
 '강남구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '중구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '강남구',
 '강남구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '서초구',
 '서초구',
 '서초구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '서대문구',
 '중구',
 '서대문구',
 '서초구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '서초구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '광진구',
 '서대문구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '은평구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '서대문구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '서대문구',
 '서대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '성동구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강남구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '도봉구',
 '도봉구',
 '도봉구',
 '도봉구',
 '도봉구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '은평구',
 '은평구',
 '노원구',
 '성동구',
 '성동구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '강서구',
 '강서구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '마포구',
 '마포구',
 '마포구',
 '양천구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '서대문구',
 '서대문구',
 '성동구',
 '성동구',
 '성동구',
 '마포구',
 '마포구',
 '마포구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '강서구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '양천구',
 '양천구',
 '은평구',
 '강서구',
 '강서구',
 '강서구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '마포구',
 '양천구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '금천구',
 '금천구',
 '금천구',
 '구로구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '강남구',
 '금천구',
 '금천구',
 '금천구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '강남구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '강남구',
 '강남구',
 '강남구',
 '동작구',
 '강남구',
 '강남구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '구로구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '강동구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강동구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '강동구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '강동구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '동대문구']

# 추출한 시군구 이름 컬럼으로 넣기

In [ ]:
address = pd.Series(cut_addresses)
theater_branded['시군구'] = address
theater_branded

,인허가일자,폐업일자,지번주소,도로명주소,사업장명,좌표정보(X),좌표정보(Y),시군구
0,2005-03-22,2020-01-01,서울특별시 중구 남대문로2가 130,"서울특별시 중구 남대문로 73, 6~7층 (남대문로2가, AVENUEL)",롯데시네마 에비뉴엘 <2관>,198333.470885,451313.412912,중구
1,2005-03-22,2020-01-01,서울특별시 중구 남대문로2가 130,"서울특별시 중구 남대문로 73, 6~7층 (남대문로2가, AVENUEL)",롯데시네마 에비뉴엘 <3관>,198333.470885,451313.412912,중구
2,2005-03-22,2020-01-01,서울특별시 중구 남대문로2가 130,"서울특별시 중구 남대문로 73, 6~7층 (남대문로2가, AVENUEL)",롯데시네마 에비뉴엘 샤롯데관,198333.470885,451313.412912,중구
3,2005-03-22,2020-01-01,서울특별시 중구 남대문로2가 130,"서울특별시 중구 남대문로 73, 6~7층 (남대문로2가, AVENUEL)",롯데시네마 에비뉴엘 <1관>,198333.470885,451313.412912,중구
4,2005-03-22,2020-01-01,서울특별시 중구 남대문로2가 130,"서울특별시 중구 남대문로 73, 6~7층 (남대문로2가, AVENUEL)",롯데시네마 에비뉴엘 <5관>,198333.470885,451313.412912,중구
...,...,...,...,...,...,...,...,...
811,2015-07-06,2020-01-01,서울특별시 강동구 천호동 42,"서울특별시 강동구 양재대로 1571, 4층 (천호동)",CGV 천호 3관,212501.369116,449282.310384,강동구
812,2015-07-06,2020-01-01,서울특별시 강동구 천호동 42,"서울특별시 강동구 양재대로 1571, 4층 (천호동)",CGV 천호 4관,212501.369116,449282.310384,강동구
813,2015-07-06,2020-01-01,서울특별시 강동구 천호동 42,"서울특별시 강동구 양재대로 1571, 4층 (천호동)",CGV 천호 5관,212501.369116,449282.310384,강동구
814,2015-07-06,2020-01-01,서울특별시 강동구 천호동 42,"서울특별시 강동구 양재대로 1571, 4층 (천호동)",CGV 천호 6관,212501.369116,449282.310384,강동구
815,2010-08-18,2020-01-01,"서울특별시 동대문구 전농동 591-53 청량리민자역사 8층,9층","서울특별시 동대문구 왕산로 214, 8층,9층 (전농동, 청량리민자역사)",롯데시네마청량리 제1관,204081.282117,453187.395154,동대문구

# 중복된 영화관 정리

In [ ]:
theater_branded = theater_branded.groupby('지번주소').agg({'인허가일자': 'first', '폐업일자': 'first', '사업장명': 'first', '시군구' : 'first'}).reset_index()
theater_branded

                              지번주소      인허가일자       폐업일자           사업장명  시군구
0             서울특별시 강남구 논현동 1-3번지  1999-04-03 2020-01-01  클래식시네마스페이스(주)  강남구
1           서울특별시 강남구 논현동 123-2번지  1998-03-09 2020-01-01       강남비디오소극장  강남구
2           서울특별시 강남구 논현동 164-7번지  1999-08-16 2008-08-29        뤼미에르 1관  강남구
3             서울특별시 강남구 논현동 164번지  1998-06-16 1999-11-05    파라마운트비디오소극장  강남구
4             서울특별시 강남구 논현동 3-1번지  1998-03-09 2001-11-23       브로드웨이 1관  강남구
..                             ...        ...        ...            ...  ...
237  서울특별시 중랑구 상봉동 92-2번지 4층 401호  2000-06-23 2012-05-09       상봉시네마 3관  중랑구
238  서울특별시 중랑구 상봉동 92-2번지 4층 402호  2000-06-23 2012-05-09       상봉시네마 4관  중랑구
239  서울특별시 중랑구 상봉동 92-2번지 5층 501호  2000-06-23 2012-05-09       상봉시네마 5관  중랑구
240  서울특별시 중랑구 상봉동 92-2번지 5층 502호  2000-06-23 2012-05-09       상봉시네마 6관  중랑구
241  서울특별시 중랑구 상봉동 92-2번지 6층 601호  2000-06-23 2012-05-09       상봉시네마 7관  중랑구

[242 rows x 5 columns]

# 좌표 넣어주기

In [ ]:
location_list = theater_branded['지번주소']

location_lat = []
location_lng = []
for name in location_list:
    tmp = gmaps.geocode(name, language='ko')
    
    if tmp:
        tmp_loc = tmp[0].get("geometry")
        if tmp_loc:
            location_lat.append(tmp_loc['location']['lat'])
            location_lng.append(tmp_loc['location']['lng'])
        else:
            # 유효한 결과가 없는 경우 처리
            location_lat.append(None)
            location_lng.append(None)
    else:
        # 결과가 없는 경우 처리
        location_lat.append(None)
        location_lng.append(None)

In [ ]:
theater_branded['lat'] = location_lat
theater_branded['lon'] = location_lng

# 널값 확인 후 좌표 넣어주기

In [ ]:
null = theater_branded[theater_branded['lat'].isnull()]
null

,지번주소,인허가일자,폐업일자,사업장명,시군구,lat,lon
17,서울특별시 강남구 삼성동 159 코엑스,2018-03-14,2020-01-01,코엑스 부티크 프라이빗 1,강남구,NaN,NaN
52,서울특별시 강서구 방화동 886 스카이파크,2011-12-06,2020-01-01,롯데시네마 김포공항 (1관),강서구,NaN,NaN
53,서울특별시 강서구 방화동 886 스카이파크,2011-12-06,2020-01-01,롯데시네마 김포공항 (2관),강서구,NaN,NaN

In [ ]:
#37.511121 127.058980
theater_branded.at[17, 'lat'] = '37.511121'
theater_branded.at[17, 'lon'] = '127.058980'

#37.563827 126.803729
theater_branded.at[52, 'lat'] = '37.563827'
theater_branded.at[52, 'lon'] = '126.803729'

theater_branded = theater_branded.drop(53).reset_index()
theater_branded = theater_branded.drop(['index'], axis = 1)
theater_branded

,지번주소,인허가일자,폐업일자,사업장명,시군구,lat,lon
0,서울특별시 강남구 논현동 1-3번지,1999-04-03,2020-01-01,클래식시네마스페이스(주),강남구,37.516257,127.020619
1,서울특별시 강남구 논현동 123-2번지,1998-03-09,2020-01-01,강남비디오소극장,강남구,37.511558,127.023859
2,서울특별시 강남구 논현동 164-7번지,1999-08-16,2008-08-29,뤼미에르 1관,강남구,37.507846,127.023368
3,서울특별시 강남구 논현동 164번지,1998-06-16,1999-11-05,파라마운트비디오소극장,강남구,37.508642,127.022989
4,서울특별시 강남구 논현동 3-1번지,1998-03-09,2001-11-23,브로드웨이 1관,강남구,37.516668,127.021728
...,...,...,...,...,...,...,...
236,서울특별시 중랑구 상봉동 92-2번지 4층 401호,2000-06-23,2012-05-09,상봉시네마 3관,중랑구,37.596822,127.088943
237,서울특별시 중랑구 상봉동 92-2번지 4층 402호,2000-06-23,2012-05-09,상봉시네마 4관,중랑구,37.596822,127.088943
238,서울특별시 중랑구 상봉동 92-2번지 5층 501호,2000-06-23,2012-05-09,상봉시네마 5관,중랑구,37.596822,127.088943
239,서울특별시 중랑구 상봉동 92-2번지 5층 502호,2000-06-23,2012-05-09,상봉시네마 6관,중랑구,37.596822,127.088943
240,서울특별시 중랑구 상봉동 92-2번지 6층 601호,2000-06-23,2012-05-09,상봉시네마 7관,중랑구,37.596822,127.088943

# 년도별로 정리

In [ ]:
theater_branded_2017_raw = theater_branded[theater_branded['인허가일자'] < '2018-01-01']
theater_branded_2017_raw = theater_branded_2017_raw[theater_branded_2017_raw['폐업일자'] > '2018-01-01']

theater_branded_2018_raw = theater_branded[theater_branded['인허가일자'] < '2019-01-01']
theater_branded_2018_raw = theater_branded_2018_raw[theater_branded_2018_raw['폐업일자'] > '2019-01-01']

theater_branded_2019_raw = theater_branded[theater_branded['인허가일자'] < '2020-01-01']
theater_branded_2019_raw = theater_branded_2019_raw[theater_branded_2019_raw['폐업일자'] >= '2020-01-01']

# 인덱스 정리

In [ ]:
theater_branded_2017_raw = theater_branded_2017_raw.reset_index()
theater_branded_2017_raw = theater_branded_2017_raw.drop(['index'], axis = 1)
theater_branded_2017_raw

theater_branded_2018_raw = theater_branded_2018_raw.reset_index()
theater_branded_2018_raw = theater_branded_2018_raw.drop(['index'], axis = 1)
theater_branded_2018_raw

theater_branded_2019_raw = theater_branded_2019_raw.reset_index()
theater_branded_2019_raw = theater_branded_2019_raw.drop(['index'], axis = 1)
theater_branded_2019_raw

,지번주소,인허가일자,폐업일자,사업장명,시군구,lat,lon
0,서울특별시 강남구 논현동 1-3번지,1999-04-03,2020-01-01,클래식시네마스페이스(주),강남구,37.516257,127.020619
1,서울특별시 강남구 논현동 123-2번지,1998-03-09,2020-01-01,강남비디오소극장,강남구,37.511558,127.023859
2,서울특별시 강남구 논현동 3-5번지 1층,2002-07-02,2020-01-01,롯데시네마 브로드웨이 3관,강남구,37.516446,127.021938
3,서울특별시 강남구 논현동 3-5번지 2층,2002-07-02,2020-01-01,롯데시네마 브로드웨이 1관,강남구,37.516446,127.021938
4,서울특별시 강남구 논현동 3-5번지 4층,2002-07-02,2020-01-01,롯데시네마 브로드웨이 2관,강남구,37.516446,127.021938
...,...,...,...,...,...,...,...
139,서울특별시 중구 충무로4가 131-6번지,2003-05-20,2020-01-01,극동극장,중구,37.562222,126.995267
140,서울특별시 중구 충정로1가 68번지,2013-02-27,2020-01-01,청춘극장,중구,37.567108,126.96869
141,서울특별시 중구 필동2가 19-1,2006-07-14,2020-01-01,대한극장(4관),중구,37.561072,126.995351
142,서울특별시 중랑구 상봉동 130-3 상봉뉴월드시네마 4층,2009-09-25,2020-01-01,메가박스중앙(주) 상봉지점 3관,중랑구,37.593232,127.074681
143,서울특별시 중랑구 상봉동 501,2016-02-23,2020-01-01,CGV상봉1관,중랑구,37.59744,127.092242

In [ ]:
null = theater_branded_2019_raw[theater_branded_2019_raw['lat'].isnull()]
null

Empty DataFrame
Columns: [지번주소, 인허가일자, 폐업일자, 사업장명, 시군구, lat, lon]
Index: []

In [ ]:
print(len(theater_branded_2017_raw))
print(len(theater_branded_2018_raw))
print(len(theater_branded_2019_raw))

141
142
144

In [ ]:
theater_branded_2017_raw

,지번주소,인허가일자,폐업일자,사업장명,시군구,lat,lon
0,서울특별시 강남구 논현동 1-3번지,1999-04-03,2020-01-01,클래식시네마스페이스(주),강남구,37.516257,127.020619
1,서울특별시 강남구 논현동 123-2번지,1998-03-09,2020-01-01,강남비디오소극장,강남구,37.511558,127.023859
2,서울특별시 강남구 논현동 3-5번지 1층,2002-07-02,2020-01-01,롯데시네마 브로드웨이 3관,강남구,37.516446,127.021938
3,서울특별시 강남구 논현동 3-5번지 2층,2002-07-02,2020-01-01,롯데시네마 브로드웨이 1관,강남구,37.516446,127.021938
4,서울특별시 강남구 논현동 3-5번지 4층,2002-07-02,2020-01-01,롯데시네마 브로드웨이 2관,강남구,37.516446,127.021938
...,...,...,...,...,...,...,...
136,서울특별시 중구 충무로4가 131-6번지,2003-05-20,2020-01-01,극동극장,중구,37.562222,126.995267
137,서울특별시 중구 충정로1가 68번지,2013-02-27,2020-01-01,청춘극장,중구,37.567108,126.96869
138,서울특별시 중구 필동2가 19-1,2006-07-14,2020-01-01,대한극장(4관),중구,37.561072,126.995351
139,서울특별시 중랑구 상봉동 130-3 상봉뉴월드시네마 4층,2009-09-25,2020-01-01,메가박스중앙(주) 상봉지점 3관,중랑구,37.593232,127.074681
140,서울특별시 중랑구 상봉동 501,2016-02-23,2020-01-01,CGV상봉1관,중랑구,37.59744,127.092242

In [ ]:
theater_branded_2017_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지번주소    141 non-null    object
 1   인허가일자   141 non-null    datetime64[ns]
 2   폐업일자    141 non-null    datetime64[ns]
 3   사업장명    141 non-null    object
 4   시군구     141 non-null    object
 5   lat     141 non-null    object
 6   lon     141 non-null    object
dtypes: datetime64[ns](2), object(5)
memory usage: 7.8+ KB

In [ ]:
# 데이터 보기 편하게 정렬
theater_branded_2017_raw = theater_branded_2017_raw.sort_values(by='시군구', key=lambda x: x.str.lower()).reset_index(drop=True)
theater_branded_2018_raw = theater_branded_2018_raw.sort_values(by='시군구').reset_index(drop=True)
theater_branded_2019_raw = theater_branded_2019_raw.sort_values(by='시군구').reset_index(drop=True)

# 태블로 지리적 정보

In [ ]:
theater_branded_2017_raw['시도'] = '서울특별시'
theater_branded_2018_raw['시도'] = '서울특별시'
theater_branded_2019_raw['시도'] = '서울특별시'

# 열 위치 정리

In [ ]:
desired_columns = ['시도', '시군구', '사업장명', '인허가일자', '폐업일자', '지번주소', 'lat', 'lon']  # 원하는 순서대로 열 이름을 나열합니다
theater_branded_2017_raw = theater_branded_2017_raw.reindex(columns=desired_columns)

theater_branded_2018_raw = theater_branded_2018_raw.reindex(columns=desired_columns)

theater_branded_2019_raw = theater_branded_2019_raw.reindex(columns=desired_columns)

In [ ]:
theater_branded_2017_raw.to_excel('../data/극장_구별_주소_2017.xlsx')
theater_branded_2018_raw.to_excel('../data/극장_구별_주소_2018.xlsx')
theater_branded_2019_raw.to_excel('../data/극장_구별_주소_2019.xlsx')