In [1]:
import pandas as pd
import numpy as np

In [2]:
police_ = pd.read_excel('/Users/hajihyuk/Documents/1차 미니 프로젝트/합계/서울시_구별_경찰관수.xlsx', index_col=0)
police = police_.rename(columns={'2021년':'경찰관수'})
police.head()

   시군구  경찰관수
0   중구  1021
1  금천구   585
2  종로구  1131
3  용산구   719
4  광진구   745

In [3]:
people_ = pd.read_csv('/Users/hajihyuk/Documents/1차 미니 프로젝트/합계/2021인구수.csv', index_col=0)
people = people_.rename(columns={'2021년':'인구수'})
people.head()

    시군구     인구수
5   종로구  153789
8    중구  131787
11  용산구  237285
14  성동구  292672
17  광진구  352627

In [4]:
peo_pol = pd.merge(people, police, on = '시군구')
peo_pol.head()

   시군구     인구수  경찰관수
0  종로구  153789  1131
1   중구  131787  1021
2  용산구  237285   719
3  성동구  292672   641
4  광진구  352627   745

In [5]:
add = pd.read_excel('/Users/hajihyuk/Documents/1차 미니 프로젝트/합계/지구대_경찰인력.xlsx', index_col=0)
add.head()

   시군구  지구대  지구대 경찰수
0  종로구   22      389
1   중구   18      318
2  용산구   12      212
3  성동구   15      265
4  광진구   12      212

In [6]:
peo_police = pd.merge(peo_pol, add, on = '시군구')
peo_police.head()

   시군구     인구수  경찰관수  지구대  지구대 경찰수
0  종로구  153789  1131   22      389
1   중구  131787  1021   18      318
2  용산구  237285   719   12      212
3  성동구  292672   641   15      265
4  광진구  352627   745   12      212

In [7]:
peo_police1 = peo_police[['시군구', '인구수', '경찰관수', '지구대 경찰수']]
peo_police1.head()

   시군구     인구수  경찰관수  지구대 경찰수
0  종로구  153789  1131      389
1   중구  131787  1021      318
2  용산구  237285   719      212
3  성동구  292672   641      265
4  광진구  352627   745      212

In [8]:
peo_police1['총경찰관수'] = (peo_police1['경찰관수'] + peo_police1['지구대 경찰수'])
peo_police1.head()

   시군구     인구수  경찰관수  지구대 경찰수  총경찰관수
0  종로구  153789  1131      389   1520
1   중구  131787  1021      318   1339
2  용산구  237285   719      212    931
3  성동구  292672   641      265    906
4  광진구  352627   745      212    957

In [9]:
people_police = peo_police1[['시군구', '인구수', '총경찰관수']]
people_police.head()

   시군구     인구수  총경찰관수
0  종로구  153789   1520
1   중구  131787   1339
2  용산구  237285    931
3  성동구  292672    906
4  광진구  352627    957

In [10]:
people_police['경찰1인당 담당인구수'] = people_police['인구수'] / people_police['총경찰관수']
people_police

/var/folders/q0/wxc4jv2x64316tklpddnbbsw0000gn/T/ipykernel_28425/3318791314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  people_police['경찰1인당 담당인구수'] = people_police['인구수'] / people_police['총경찰관수']

     시군구     인구수  총경찰관수  경찰1인당 담당인구수
0    종로구  153789   1520   101.176974
1     중구  131787   1339    98.421957
2    용산구  237285    931   254.871106
3    성동구  292672    906   323.037528
4    광진구  352627    957   368.471264
5   동대문구  352006   1191   295.554996
6    중랑구  391885   1077   363.867224
7    성북구  440142   1354   325.067947
8    강북구  302563    927   326.389428
9    도봉구  319373    726   439.907713
10   노원구  514946   1093   471.130833
11   은평구  477173   1280   372.791406
12  서대문구  315659    869   363.243959
13   마포구  378686   1167   324.495287
14   양천구  450487   1019   442.087341
15   강서구  579768   1158   500.663212
16   구로구  421163   1062   396.575330
17   금천구  244891    797   307.265997
18  영등포구  400908   1274   314.684458
19   동작구  394364    973   405.307297
20   관악구  499449   1231   405.726239
21   서초구  416167   1457   285.632807
22   강남구  537800   1940   277.216495
23   송파구  663965   1418   468.240480
24   강동구  466472   1051   443.836346

In [11]:
people_police['경찰1인당 담당인구수'].describe()

count     25.000000
mean     347.026545
std       99.655901
min       98.421957
25%      307.265997
50%      363.243959
75%      405.726239
max      500.663212
Name: 경찰1인당 담당인구수, dtype: float64

In [12]:
p1 = people_police[people_police['경찰1인당 담당인구수'] >= 347.026545]
p2 = people_police[people_police['경찰1인당 담당인구수'] < 347.026545]

In [13]:
p1['판별'] = True
p1.head()

/var/folders/q0/wxc4jv2x64316tklpddnbbsw0000gn/T/ipykernel_28425/2791409718.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p1['판별'] = True

    시군구     인구수  총경찰관수  경찰1인당 담당인구수    판별
4   광진구  352627    957   368.471264  True
6   중랑구  391885   1077   363.867224  True
9   도봉구  319373    726   439.907713  True
10  노원구  514946   1093   471.130833  True
11  은평구  477173   1280   372.791406  True

In [14]:
p2['판별'] = False
p2.head()

/var/folders/q0/wxc4jv2x64316tklpddnbbsw0000gn/T/ipykernel_28425/330208777.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p2['판별'] = False

    시군구     인구수  총경찰관수  경찰1인당 담당인구수     판별
0   종로구  153789   1520   101.176974  False
1    중구  131787   1339    98.421957  False
2   용산구  237285    931   254.871106  False
3   성동구  292672    906   323.037528  False
5  동대문구  352006   1191   295.554996  False

In [15]:
p3 = pd.concat([p1,p2])

In [16]:
p3.reset_index(inplace=True)
p4 = p3.rename(columns={'총경찰관수':'경찰관수'})
respon = p4[['시군구', '인구수', '경찰관수', '경찰1인당 담당인구수', '판별']]
respon

     시군구     인구수  경찰관수  경찰1인당 담당인구수     판별
0    광진구  352627   957   368.471264   True
1    중랑구  391885  1077   363.867224   True
2    도봉구  319373   726   439.907713   True
3    노원구  514946  1093   471.130833   True
4    은평구  477173  1280   372.791406   True
5   서대문구  315659   869   363.243959   True
6    양천구  450487  1019   442.087341   True
7    강서구  579768  1158   500.663212   True
8    구로구  421163  1062   396.575330   True
9    동작구  394364   973   405.307297   True
10   관악구  499449  1231   405.726239   True
11   송파구  663965  1418   468.240480   True
12   강동구  466472  1051   443.836346   True
13   종로구  153789  1520   101.176974  False
14    중구  131787  1339    98.421957  False
15   용산구  237285   931   254.871106  False
16   성동구  292672   906   323.037528  False
17  동대문구  352006  1191   295.554996  False
18   성북구  440142  1354   325.067947  False
19   강북구  302563   927   326.389428  False
20   마포구  378686  1167   324.495287  False
21   금천구  244891   797   307.265997  False
22  영등포구  400908  1274   314.684458  False
23   서초구  416167  1457   285.632807  False
24   강남구  537800  1940   277.216495  False

In [17]:
respon.to_excel('/Users/hajihyuk/Documents/1차 미니 프로젝트/경찰1인담_담당인구수.xlsx')

In [21]:
a = pd.read_excel("/Users/hajihyuk/Documents/1차 미니 프로젝트/전처리,상관분석 코드/서울시_경찰투입률.xlsx",index_col=0)
b = a[['시군구','2021년','경찰투입율','범죄발생률','범죄검거율','경찰투입지수']]
b

     시군구  2021년     경찰투입율     범죄발생률       범죄검거율    경찰투입지수
0     중구   1021  4.744203  2.170927   72.422230  2.185335
1    금천구    585  2.718275  0.995953   71.381714  2.729320
2    종로구   1131  5.255332  1.763455  101.585546  2.980134
3    용산구    719  3.340923  1.003435   69.676606  3.329487
4    광진구    745  3.461735  0.875429   71.331390  3.954329
5    성동구    641  2.978486  0.721627   71.496212  4.127460
6    강북구    679  3.155058  0.760503   83.094307  4.148647
7    구로구    761  3.536081  0.827708   69.736087  4.272136
8    중랑구    776  3.605780  0.819118   74.922118  4.402029
9   서대문구    692  3.215464  0.721665   69.973661  4.455620
10   마포구    902  4.191255  0.934811   67.203390  4.483530
11  영등포구   1009  4.688444  1.042384   66.451304  4.497810
12   도봉구    567  2.634636  0.582391   69.569892  4.523826
13  동대문구    837  3.889224  0.840611   71.409260  4.626666
14   동작구    672  3.122531  0.667150   69.517294  4.680403
15   관악구    913  4.242368  0.889781   70.522052  4.767881
16   강동구    768  3.568607  0.741309   71.197224  4.813925
17   양천구    754  3.503555  0.669276   69.154229  5.234845
18   노원구    810  3.763766  0.665118   67.211679  5.658791
19   서초구   1121  5.208866  0.878493   66.712254  5.929316
20   은평구    926  4.302774  0.679837   74.691739  6.329123
21   강남구   1569  7.290553  1.142804   71.542467  6.379531
22   강서구    946  4.395707  0.671993   78.131417  6.541299
23   송파구   1047  4.865016  0.709977   69.282987  6.852355
24   성북구    930  4.321361  0.547778   74.118623  7.888894

In [22]:
final = pd.merge(b, respon, on='시군구')
final.sort_values('판별', ascending=False)

,시군구,2021년,경찰투입율,범죄발생률,범죄검거율,경찰투입지수,인구수,경찰관수,경찰1인당 담당인구수,판별
12,도봉구,567,2.634636,0.582391,69.569892,4.523826,319373,726,439.907713,True
15,관악구,913,4.242368,0.889781,70.522052,4.767881,499449,1231,405.726239,True
23,송파구,1047,4.865016,0.709977,69.282987,6.852355,663965,1418,468.240480,True
22,강서구,946,4.395707,0.671993,78.131417,6.541299,579768,1158,500.663212,True
4,광진구,745,3.461735,0.875429,71.331390,3.954329,352627,957,368.471264,True
20,은평구,926,4.302774,0.679837,74.691739,6.329123,477173,1280,372.791406,True
7,구로구,761,3.536081,0.827708,69.736087,4.272136,421163,1062,396.575330,True
8,중랑구,776,3.605780,0.819118,74.922118,4.402029,391885,1077,363.867224,True
9,서대문구,692,3.215464,0.721665,69.973661,4.455620,315659,869,363.243959,True
18,노원구,810,3.763766,0.665118,67.211679,5.658791,514946,1093,471.130833,True
17,양천구,754,3.503555,0.669276,69.154229,5.234845,450487,1019,442.087341,True
16,강동구,768,3.568607,0.741309,71.197224,4.813925,466472,1051,443.836346,True
14,동작구,672,3.122531,0.667150,69.517294,4.680403,394364,973,405.307297,True
21,강남구,1569,7.290553,1.142804,71.542467,6.379531,537800,1940,277.216495,False
19,서초구,1121,5.208866,0.878493,66.712254,5.929316,416167,1457,285.632807,False
0,중구,1021,4.744203,2.170927,72.422230,2.185335,131787,1339,98.421957,False
13,동대문구,837,3.889224,0.840611,71.409260,4.626666,352006,1191,295.554996,False
1,금천구,585,2.718275,0.995953,71.381714,2.729320,244891,797,307.265997,False
11,영등포구,1009,4.688444,1.042384,66.451304,4.497810,400908,1274,314.684458,False
10,마포구,902,4.191255,0.934811,67.203390,4.483530,378686,1167,324.495287,False
6,강북구,679,3.155058,0.760503,83.094307,4.148647,302563,927,326.389428,False
5,성동구,641,2.978486,0.721627,71.496212,4.127460,292672,906,323.037528,False
3,용산구,719,3.340923,1.003435,69.676606,3.329487,237285,931,254.871106,False
2,종로구,1131,5.255332,1.763455,101.585546,2.980134,153789,1520,101.176974,False
24,성북구,930,4.321361,0.547778,74.118623,7.888894,440142,1354,325.067947,False

In [23]:
final_ = final[['시군구', '경찰투입지수','경찰1인당 담당인구수','판별']]
final_.sort_values('판별', ascending=False)

     시군구    경찰투입지수  경찰1인당 담당인구수     판별
12   도봉구  4.523826   439.907713   True
15   관악구  4.767881   405.726239   True
23   송파구  6.852355   468.240480   True
22   강서구  6.541299   500.663212   True
4    광진구  3.954329   368.471264   True
20   은평구  6.329123   372.791406   True
7    구로구  4.272136   396.575330   True
8    중랑구  4.402029   363.867224   True
9   서대문구  4.455620   363.243959   True
18   노원구  5.658791   471.130833   True
17   양천구  5.234845   442.087341   True
16   강동구  4.813925   443.836346   True
14   동작구  4.680403   405.307297   True
21   강남구  6.379531   277.216495  False
19   서초구  5.929316   285.632807  False
0     중구  2.185335    98.421957  False
13  동대문구  4.626666   295.554996  False
1    금천구  2.729320   307.265997  False
11  영등포구  4.497810   314.684458  False
10   마포구  4.483530   324.495287  False
6    강북구  4.148647   326.389428  False
5    성동구  4.127460   323.037528  False
3    용산구  3.329487   254.871106  False
2    종로구  2.980134   101.176974  False
24   성북구  7.888894   325.067947  False

In [25]:
final_.to_excel('/Users/hajihyuk/Documents/1차 미니 프로젝트/전처리,상관분석 코드/최종판별.xlsx')

In [30]:
a = pd.read_excel('/Users/hajihyuk/Documents/1차 미니 프로젝트/전처리,상관분석 코드/최종판별.xlsx',index_col=0)

In [31]:
a.sort_values('판별', ascending=False)

     시군구    경찰투입지수  경찰1인당 담당인구수     판별
12   도봉구  4.523826   439.907713   True
15   관악구  4.767881   405.726239   True
23   송파구  6.852355   468.240480   True
22   강서구  6.541299   500.663212   True
4    광진구  3.954329   368.471264   True
20   은평구  6.329123   372.791406   True
7    구로구  4.272136   396.575330   True
8    중랑구  4.402029   363.867224   True
9   서대문구  4.455620   363.243959   True
18   노원구  5.658791   471.130833   True
17   양천구  5.234845   442.087341   True
16   강동구  4.813925   443.836346   True
14   동작구  4.680403   405.307297   True
21   강남구  6.379531   277.216495  False
19   서초구  5.929316   285.632807  False
0     중구  2.185335    98.421957  False
13  동대문구  4.626666   295.554996  False
1    금천구  2.729320   307.265997  False
11  영등포구  4.497810   314.684458  False
10   마포구  4.483530   324.495287  False
6    강북구  4.148647   326.389428  False
5    성동구  4.127460   323.037528  False
3    용산구  3.329487   254.871106  False
2    종로구  2.980134   101.176974  False
24   성북구  7.888894   325.067947  False